.grunge-vintage-old-paper-backg-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 2172px;
  object-fit: cover;
}
.bottom-page-info-child6 {
  position: absolute;
  top: 346px;
  left: calc(50% - 720px);
  background-color: var(--color-rosybrown-100);
  width: 1440px;
  height: 35px;
}
.esculturas-em-miniatura-container8,
.esculturas-em-tamanho-container8,
.esculturas-personalizadas8,
.possvel-fazer-alteraes9,
.quais-so-as9,
.qual-o10 {
  text-decoration: none;
  position: absolute;
  top: 90px;
  left: calc(50% - 209px);
  line-height: 30px;
  color: inherit;
  display: inline-block;
  width: 227px;
  height: 19px;
  cursor: pointer;
}
.esculturas-em-miniatura-container8,
.esculturas-personalizadas8,
.possvel-fazer-alteraes9,
.quais-so-as9,
.qual-o10 {
  top: 115px;
  height: 21px;
}
.esculturas-personalizadas8,
.possvel-fazer-alteraes9,
.quais-so-as9,
.qual-o10 {
  top: 142px;
  height: 28px;
}
.possvel-fazer-alteraes9,
.quais-so-as9,
.qual-o10 {
  top: 64px;
  left: calc(50% + 18px);
  width: 260px;
  height: 21px;
}
.possvel-fazer-alteraes9,
.qual-o10 {
  top: 91px;
  width: 197px;
  height: 19px;
}
.possvel-fazer-alteraes9 {
  top: 116px;
  width: 302px;
  height: 20px;
}
.esculturas-abstratas8,
.esculturas-figurativas8 {
  position: absolute;
  left: calc(50% - 209px);
  line-height: 30px;
  display: inline-block;
  width: 227px;
}
.esculturas-figurativas8 {
  text-decoration: none;
  top: 37px;
  color: inherit;
  height: 21px;
  cursor: pointer;
}
.esculturas-abstratas8 {
  top: 64px;
  height: 23px;
}
.esculturas-abstratas8,
.quais-so-os10,
.sobre-o-site16,
.tutoriais13 {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.quais-so-os10 {
  position: absolute;
  top: 37px;
  left: calc(50% + 18px);
  line-height: 30px;
  display: inline-block;
  width: 240px;
  height: 21px;
}
.sobre-o-site16,
.tutoriais13 {
  left: calc(50% + 365px);
  width: 163px;
}
.sobre-o-site16 {
  position: absolute;
  top: 37px;
  line-height: 30px;
  display: inline-block;
  height: 23px;
}
.tutoriais13 {
  top: 94px;
  height: 24px;
}
.blog16,
.histrias-da-arte13,
.loja17,
.qa9,
.tutoriais13 {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.histrias-da-arte13 {
  text-decoration: none;
  top: 66px;
  left: calc(50% + 365px);
  color: inherit;
  width: 163px;
  height: 22px;
  cursor: pointer;
}
.blog16,
.loja17,
.qa9 {
  top: 0;
  left: calc(50% - 209px);
  width: 40px;
  height: 19px;
}
.blog16,
.qa9 {
  left: calc(50% + 18px);
  width: 38px;
}
.blog16 {
  left: calc(50% + 368px);
  width: 40px;
  height: 16px;
}
.facebook-icon-28,
.insta-icon-28 {
  position: absolute;
  top: 210px;
  left: 166px;
  width: 18px;
  height: 17.1px;
  object-fit: cover;
}
.insta-icon-28 {
  top: 243px;
  height: 18px;
}
.esculturas-design-pratico8,
.esculturasdesignpratico8,
.pinterest-esculturas-design-p8,
.redes-sociais8 {
  position: absolute;
  top: 269px;
  left: calc(50% - 553px);
  line-height: 30px;
  text-transform: capitalize;
  display: inline-block;
  width: 289px;
  height: 26px;
}
.esculturas-design-pratico8,
.esculturasdesignpratico8,
.redes-sociais8 {
  top: 177px;
  height: 21px;
}
.esculturas-design-pratico8,
.esculturasdesignpratico8 {
  top: 236px;
  left: calc(50% - 524px);
  width: 260px;
}
.esculturasdesignpratico8 {
  top: 202px;
  height: 24px;
}
.e-mail9,
.esculturasdesignpraticogmail8 {
  position: absolute;
  top: 113px;
  left: calc(50% - 554px);
  line-height: 30px;
  display: inline-block;
  width: 290px;
  height: 22px;
}
.esculturasdesignpraticogmail8 {
  top: 141px;
  height: 24px;
}
.contato16,
.endereo-rua-das8,
.sp-12345-67898,
.telefone-11-9999-99998 {
  position: absolute;
  top: 83px;
  left: calc(50% - 553px);
  line-height: 30px;
  display: inline-block;
  width: 289px;
  height: 24px;
}
.contato16,
.endereo-rua-das8,
.sp-12345-67898 {
  top: 27px;
  left: calc(50% - 554px);
  width: 290px;
  height: 22px;
}
.contato16,
.sp-12345-67898 {
  top: 55px;
  left: calc(50% - 553px);
  width: 289px;
}
.contato16 {
  top: 0;
  left: calc(50% - 554px);
  width: 61px;
  height: 25px;
}
.bottom-page-info16 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 381px;
}
.bottom-info14,
.bottom-info15 {
  position: absolute;
  top: 57px;
  left: 0;
  width: 1440px;
  height: 381px;
  overflow: hidden;
}
.bottom-info14 {
  top: 1734px;
  height: 438px;
  font-size: var(--font-size-base);
}
.a-escultura-de3 {
  text-transform: capitalize;
  display: inline-block;
  width: 744px;
  height: 42px;
}
.a-escultura-de3,
.de-outubro-de24,
.por-raul-sousa-container3 {
  position: absolute;
  top: 0;
  left: 0;
}
.de-outubro-de24 {
  left: 191px;
  display: inline-block;
  width: 431px;
}
.group-div {
  position: absolute;
  top: 58px;
  left: 0;
  width: 622px;
  height: 19px;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.a-escultura-de-vulto-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 744px;
  height: 77px;
  font-size: var(--font-size-17xl);
}
.escultura-isenta-ou-escultura {
  margin: 0;
  font-family: var(--font-outfit);
}
.blank-line94 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.a-escultura-de4 {
  font-weight: 300;
  font-family: var(--font-outfit);
}
.a-escultura-de4,
.p2 {
  margin: 0;
  font-size: var(--font-size-base);
}
.escultura-isenta-ou-container {
  position: absolute;
  top: 117px;
  left: 0;
  color: var(--color-black);
  display: inline-block;
  width: 744px;
  height: 169px;
  font-family: var(--font-montserrat);
}
.escultura-1-1-icon1 {
  position: absolute;
  top: 312px;
  left: 2px;
  width: 427px;
  height: 318px;
  object-fit: cover;
}
.capitais-arquivoltas-ou {
  margin: 0;
}
.a-escultura-de-container1 {
  position: absolute;
  top: 721px;
  left: 2px;
  font-size: var(--font-size-base);
  font-weight: 300;
  display: inline-block;
  width: 567px;
  height: 103px;
}
.apesar-de-a-container,
.meio-vulto,
.vulto {
  position: absolute;
  top: 672px;
  left: 2px;
  display: inline-block;
  width: 427px;
  height: 26px;
}
.apesar-de-a-container,
.vulto {
  top: 1065px;
  width: 65px;
  height: 33px;
}
.apesar-de-a-container {
  top: 1113px;
  font-size: var(--font-size-base);
  font-weight: 300;
  width: 568px;
  height: 256px;
}
.escultura-3-1-icon {
  position: absolute;
  top: 846px;
  left: 2px;
  width: 304px;
  height: 204px;
  object-fit: cover;
}
.blog18,
.group-inner {
  position: absolute;
  top: 78px;
  left: 155px;
  width: 744px;
  height: 1369px;
}
.group-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  height: 48px;
}
.home-blog2 {
  position: absolute;
  top: 15px;
  left: 13px;
}
.rectangle-container {
  top: 0;
  left: 0;
}
.address-bar-inner,
.address-bar2,
.rectangle-container {
  position: absolute;
  width: 744px;
  height: 48px;
}
.address-bar-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.address-bar2 {
  top: 19px;
  left: 155px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.blog17 {
  position: absolute;
  top: 237px;
  left: 0;
  width: 915px;
  height: 1497px;
  overflow: hidden;
}
.ad-inner {
  position: relative;
  background-color: var(--color-darkslateblue);
  width: 289px;
  height: 27px;
  z-index: 0;
}
.img-20231018-wa0002-2-icon {
  position: relative;
  width: 289px;
  height: 578px;
  object-fit: cover;
  z-index: 1;
}
.publicidade2,
.x2 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 26px;
  flex-shrink: 0;
  z-index: 2;
}
.x2 {
  left: 254px;
  color: rgba(219, 219, 219, 0.84);
  width: 35px;
  height: 27px;
  z-index: 3;
}
.ad2,
.histrias-da-arte14,
.sobre-o-site17,
.tutoriais14 {
  text-decoration: none;
  position: absolute;
  color: inherit;
  cursor: pointer;
}
.ad2 {
  top: 763px;
  left: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}
.histrias-da-arte14,
.sobre-o-site17,
.tutoriais14 {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 322.6px;
}
.histrias-da-arte14,
.tutoriais14 {
  top: 39px;
}
.tutoriais14 {
  top: 76px;
}
.div19 {
  top: 0;
  left: 327px;
  display: inline-block;
  width: 17.6px;
}
.div19,
.div20,
.div21 {
  position: absolute;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
}
.div20 {
  top: 39px;
  left: 322px;
  display: inline-block;
  width: 22px;
}
.div21 {
  top: 73px;
  left: 323px;
}
.entries11 {
  position: absolute;
  top: 72px;
  left: 0;
  width: 344.6px;
  height: 101px;
}
.title-child2 {
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #57443b, #bcaf9e 50.72%, #57453b);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 344px;
  height: 48px;
}
.categorias11,
.title-child2,
.title7 {
  position: absolute;
  top: 0;
}
.categorias11 {
  left: 87px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 205px;
}
.title7 {
  left: 0;
  width: 344px;
  height: 48px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray);
}
.categorias10,
.section-side-categories5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 344.6px;
  height: 173px;
}
.categorias10 {
  top: 477px;
  left: 40px;
  color: var(--color-darkslategray);
}
.tullio-lombardo-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  width: 345px;
  height: 96px;
}
.de-outubro-de25,
.tullio-lombardo-e6 {
  position: absolute;
  display: inline-block;
}
.tullio-lombardo-e6 {
  top: 13px;
  left: 149.1px;
  text-transform: capitalize;
  width: 188.1px;
  height: 33px;
}
.de-outubro-de25 {
  top: 55px;
  left: 150.1px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 167.7px;
}
.mask-group-icon31 {
  position: absolute;
  top: 13px;
  left: 11.8px;
  width: 129.8px;
  height: 70px;
  object-fit: cover;
}
.tullio-lombardo8 {
  position: absolute;
  top: 0;
  left: 1px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 96px;
}
.tullio-lombardo-wrapper1 {
  text-decoration: none;
  position: absolute;
  top: 300px;
  left: 0;
  width: 347px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.de-outubro-de26,
.histria-das-esculturas9 {
  position: absolute;
  left: 149.1px;
  display: inline-block;
}
.histria-das-esculturas9 {
  top: 13px;
  text-transform: capitalize;
  width: 195px;
  height: 15px;
}
.de-outubro-de26 {
  top: 53px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 155px;
}
.histria-das-esculturas8 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 96px;
}
.histria-das-esculturas-frame {
  text-decoration: none;
  position: absolute;
  top: 184px;
  left: 2px;
  width: 344px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.as-fantsticas-grgulas6,
.de-outubro-de27 {
  position: absolute;
  left: 149.1px;
  display: inline-block;
}
.as-fantsticas-grgulas6 {
  top: 13px;
  text-transform: capitalize;
  width: 187.2px;
  height: 15px;
}
.de-outubro-de27 {
  top: 53px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 164.8px;
}
.fantsticas-grgulas-wrapper1 {
  text-decoration: none;
  position: absolute;
  top: 68px;
  left: 2px;
  width: 345px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.title-section-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.16deg,
    #443128 6.25%,
    #bfb2a1 52.42%,
    #443128 95.83%
  );
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 48px;
}
.popular11 {
  position: absolute;
  top: 0;
  left: 109px;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 162px;
}
.title-section5 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 345px;
  height: 48px;
  font-size: var(--font-size-17xl);
}
.popular10,
.section-side-card5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 347px;
  height: 396px;
}
.popular10 {
  top: 19px;
  left: 38px;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}
.entries10 {
  position: absolute;
  top: 237px;
  left: 930px;
  width: 510px;
  height: 1497px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: #d8d8d8;
}
.mask-group-icon34 {
  position: absolute;
  top: 79px;
  left: 168px;
  width: 1147px;
  height: 141px;
  object-fit: cover;
}
.navbar-child13,
.navbar-child14 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 43px;
}
.navbar-child13 {
  background: linear-gradient(90.02deg, #bfb2a1, #787167);
}
.navbar-child14 {
  background-color: var(--color-rosybrown-100);
}
.contato17,
.home7,
.loja18 {
  text-decoration: none;
  top: 0;
  color: inherit;
}
.home7 {
  position: absolute;
  left: calc(50% - 640.5px);
}
.contato17,
.loja18 {
  cursor: pointer;
}
.loja18 {
  position: absolute;
  left: calc(50% + 475.5px);
}
.contato17 {
  left: calc(50% + 361.5px);
}
.contato17,
.faq8,
.navbar25 {
  position: absolute;
}
.faq8 {
  text-decoration: none;
  top: 0;
  left: calc(50% + 592.5px);
  color: inherit;
  cursor: pointer;
}
.navbar25 {
  top: 7px;
  left: calc(50% - 680px);
  width: 1281px;
  height: 30px;
}
.navbar23,
.navbar24 {
  position: absolute;
  top: 0;
  width: 1440px;
}
.navbar24 {
  left: calc(50% - 720px);
  height: 43px;
}
.navbar23 {
  left: 0;
  height: 237px;
  overflow: hidden;
  text-align: center;
  font-family: var(--font-outfit);
  font-size: 18px;
}
.blog-5-tutoriais-1 {
  position: relative;
  background-color: var(--color-dimgray-200);
  width: 100%;
  height: 2172px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-outfit);
}
