.grunge-vintage-old-paper-backg-icon5 {
  position: absolute;
  top: 9px;
  left: 0;
  width: 1440px;
  height: 1466px;
  object-fit: cover;
}
.bottom-page-info-child3 {
  position: absolute;
  top: 346px;
  left: calc(50% - 720px);
  background-color: var(--color-rosybrown-100);
  width: 1440px;
  height: 35px;
}
.esculturas-em-tamanho5 {
  margin: 0;
}
.esculturas-em-miniatura-container5,
.esculturas-em-tamanho-container5,
.esculturas-personalizadas5,
.possvel-fazer-alteraes6,
.quais-so-as6,
.qual-o7 {
  text-decoration: none;
  position: absolute;
  top: 90px;
  left: calc(50% - 209px);
  line-height: 30px;
  color: inherit;
  display: inline-block;
  width: 227px;
  height: 19px;
  cursor: pointer;
}
.esculturas-em-miniatura-container5,
.esculturas-personalizadas5,
.possvel-fazer-alteraes6,
.quais-so-as6,
.qual-o7 {
  top: 115px;
  height: 21px;
}
.esculturas-personalizadas5,
.possvel-fazer-alteraes6,
.quais-so-as6,
.qual-o7 {
  top: 142px;
  height: 28px;
}
.possvel-fazer-alteraes6,
.quais-so-as6,
.qual-o7 {
  top: 64px;
  left: calc(50% + 18px);
  width: 260px;
  height: 21px;
}
.possvel-fazer-alteraes6,
.qual-o7 {
  top: 91px;
  width: 197px;
  height: 19px;
}
.possvel-fazer-alteraes6 {
  top: 116px;
  width: 302px;
  height: 20px;
}
.esculturas-abstratas5,
.esculturas-figurativas5 {
  position: absolute;
  left: calc(50% - 209px);
  line-height: 30px;
  display: inline-block;
  width: 227px;
}
.esculturas-figurativas5 {
  text-decoration: none;
  top: 37px;
  color: inherit;
  height: 21px;
  cursor: pointer;
}
.esculturas-abstratas5 {
  top: 64px;
  height: 23px;
}
.esculturas-abstratas5,
.quais-so-os7,
.sobre-o-site10,
.tutoriais7 {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.quais-so-os7 {
  position: absolute;
  top: 37px;
  left: calc(50% + 18px);
  line-height: 30px;
  display: inline-block;
  width: 240px;
  height: 21px;
}
.sobre-o-site10,
.tutoriais7 {
  left: calc(50% + 365px);
  width: 163px;
}
.sobre-o-site10 {
  position: absolute;
  top: 37px;
  line-height: 30px;
  display: inline-block;
  height: 23px;
}
.tutoriais7 {
  top: 94px;
  height: 24px;
}
.blog9,
.histrias-da-arte7,
.loja11,
.qa6,
.tutoriais7 {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.histrias-da-arte7 {
  text-decoration: none;
  top: 66px;
  left: calc(50% + 365px);
  color: inherit;
  width: 163px;
  height: 22px;
  cursor: pointer;
}
.blog9,
.loja11,
.qa6 {
  top: 0;
  left: calc(50% - 209px);
  width: 40px;
  height: 19px;
}
.blog9,
.qa6 {
  left: calc(50% + 18px);
  width: 38px;
}
.blog9 {
  left: calc(50% + 368px);
  width: 40px;
  height: 16px;
}
.facebook-icon-25,
.insta-icon-25 {
  position: absolute;
  top: 210px;
  left: 166px;
  width: 18px;
  height: 17.1px;
  object-fit: cover;
}
.insta-icon-25 {
  top: 243px;
  height: 18px;
}
.esculturas-design-pratico5,
.esculturasdesignpratico5,
.pinterest-esculturas-design-p5,
.redes-sociais5 {
  position: absolute;
  top: 269px;
  left: calc(50% - 553px);
  line-height: 30px;
  text-transform: capitalize;
  display: inline-block;
  width: 289px;
  height: 26px;
}
.esculturas-design-pratico5,
.esculturasdesignpratico5,
.redes-sociais5 {
  top: 177px;
  height: 21px;
}
.esculturas-design-pratico5,
.esculturasdesignpratico5 {
  top: 236px;
  left: calc(50% - 524px);
  width: 260px;
}
.esculturasdesignpratico5 {
  top: 202px;
  height: 24px;
}
.e-mail6,
.esculturasdesignpraticogmail5 {
  position: absolute;
  top: 113px;
  left: calc(50% - 554px);
  line-height: 30px;
  display: inline-block;
  width: 290px;
  height: 22px;
}
.esculturasdesignpraticogmail5 {
  top: 141px;
  height: 24px;
}
.contato10,
.endereo-rua-das5,
.sp-12345-67895,
.telefone-11-9999-99995 {
  position: absolute;
  top: 83px;
  left: calc(50% - 553px);
  line-height: 30px;
  display: inline-block;
  width: 289px;
  height: 24px;
}
.contato10,
.endereo-rua-das5,
.sp-12345-67895 {
  top: 27px;
  left: calc(50% - 554px);
  width: 290px;
  height: 22px;
}
.contato10,
.sp-12345-67895 {
  top: 55px;
  left: calc(50% - 553px);
  width: 289px;
}
.contato10 {
  top: 0;
  left: calc(50% - 554px);
  width: 61px;
  height: 25px;
}
.bottom-page-info10 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 381px;
}
.bottom-info8,
.bottom-info9 {
  position: absolute;
  top: 58px;
  left: 0;
  width: 1440px;
  height: 381px;
  overflow: hidden;
}
.bottom-info8 {
  top: 1036px;
  height: 439px;
}
.card-image-big-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 309.3px;
  height: 351.4px;
}
.tullio-lombardo-e2 {
  position: absolute;
  top: 21.4px;
  left: 1.1px;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-outfit);
  width: 238px;
  height: 37px;
}
.em-destaque3,
.por-raul-sousa3 {
  position: absolute;
  display: inline-block;
  height: 13.3px;
}
.em-destaque3 {
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
  width: 138.3px;
}
.por-raul-sousa3 {
  top: 62.4px;
  left: 0.9px;
  font-weight: 500;
  color: var(--color-dimgray-300);
  width: 120.3px;
}
.esttua1 {
  text-decoration: underline;
}
.esttua {
  color: inherit;
}
.de-outubro-de9,
.o-ado-container {
  position: absolute;
  display: inline-block;
}
.o-ado-container {
  top: 84.7px;
  left: 0;
  color: inherit;
  width: 288.7px;
  height: 45.3px;
}
.de-outubro-de9 {
  top: 144.6px;
  left: 0.6px;
  font-weight: 500;
  color: var(--color-dimgray-300);
  width: 190.5px;
  height: 15.1px;
}
.text3 {
  position: absolute;
  top: 181px;
  left: 10.3px;
  width: 288.7px;
  height: 159.7px;
}
.card-image-big3,
.mask-group-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 309.3px;
  height: 351.4px;
}
.mask-group-icon17 {
  top: 3.4px;
  left: 0.4px;
  height: 169.5px;
  object-fit: cover;
}
.tullio-lombardo2 {
  position: absolute;
  top: -3.4px;
  left: -0.4px;
  width: 309.3px;
  height: 351.4px;
}
.tullio-lombardo-wrapper {
  text-decoration: none;
  position: absolute;
  top: 478px;
  left: 383px;
  width: 309px;
  height: 348px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: inherit;
  font-family: var(--font-montserrat);
}
.mask-group-icon18 {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 350px;
  height: 410px;
  object-fit: cover;
}
.catedral-de-chartres1,
.em-destaque4 {
  position: absolute;
  display: inline-block;
}
.catedral-de-chartres1 {
  top: 17.7px;
  left: 0.5px;
  text-transform: capitalize;
  width: 238.6px;
  height: 39px;
}
.em-destaque4 {
  top: 0;
  left: 0.3px;
  width: 112.6px;
  height: 13.3px;
}
.a-catedral-de,
.de-outubro-de10,
.por-jonathan-torres {
  position: absolute;
  top: 57.8px;
  left: 0;
  color: var(--color-dimgray-300);
  display: inline-block;
  width: 198px;
  height: 13px;
}
.a-catedral-de,
.de-outubro-de10 {
  top: 79.4px;
  font-weight: 300;
  color: var(--color-black);
  width: 289px;
  height: 62px;
}
.de-outubro-de10 {
  top: 142.4px;
  left: 1px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 189px;
  height: 15px;
}
.text4 {
  position: absolute;
  top: 181px;
  left: 10px;
  width: 289px;
  height: 157.4px;
}
.catedral-de-chartres {
  position: absolute;
  top: -0.4px;
  left: 0;
  width: 309.4px;
  height: 351.4px;
}
.catedral-de-chartres-wrapper {
  border-radius: var(--br-3xs);
  text-decoration: none;
  position: absolute;
  top: 475px;
  left: 6px;
  width: 309px;
  height: 351px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.card-image-big-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 309.4px;
  height: 351.4px;
}
.em-destaque5,
.esculturas-em-catedrais1 {
  position: absolute;
  top: 24px;
  left: 1px;
  display: inline-block;
  width: 266.3px;
  height: 39px;
}
.em-destaque5 {
  top: 0;
  left: 0;
  color: var(--color-gray);
  width: 169px;
  height: 14px;
}
.raul-sousa {
  font-weight: 500;
}
.por-raul-sousa-container {
  position: absolute;
  top: 67px;
  left: 1px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
  display: inline-block;
  width: 182px;
  height: 13.3px;
  font-family: var(--font-montserrat);
}
.de-outubro-de11,
.desde-seu-incio {
  position: absolute;
  top: 85.3px;
  left: 0.5px;
  font-weight: 300;
  display: inline-block;
  width: 288.7px;
  height: 53.2px;
}
.de-outubro-de11 {
  top: 150.1px;
  left: 1.4px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 224.2px;
  height: 15.1px;
}
.text5 {
  position: absolute;
  top: 175.6px;
  left: 9.4px;
  width: 289.2px;
  height: 165.2px;
}
.card-image-big-wrapper,
.mask-group-icon19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 309.4px;
  height: 351.4px;
}
.mask-group-icon19 {
  left: 0.4px;
  height: 169.5px;
  object-fit: cover;
}
.esculturas-em-catedrais {
  position: absolute;
  top: 0.4px;
  left: -0.4px;
  width: 309.4px;
  height: 351.4px;
}
.esculturas-em-catedrais-wrapper {
  text-decoration: none;
  position: absolute;
  top: 98px;
  left: 383px;
  width: 309px;
  height: 348px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-black);
}
.as-fantsticas-grgulas2 {
  position: absolute;
  top: 23.5px;
  left: 0.9px;
  text-transform: capitalize;
  display: inline-block;
  width: 259.5px;
  height: 39.9px;
}
.em-destaque6 {
  position: absolute;
  top: 0;
  left: 1.3px;
  display: inline-block;
  width: 135.8px;
  height: 16.9px;
}
.por {
  font-weight: 600;
}
.por-jonathan-torres-container {
  position: absolute;
  top: 64.9px;
  left: 0.5px;
  color: var(--color-dimgray-300);
  display: inline-block;
  width: 165px;
  height: 19px;
}
.de-outubro-de12,
.edifcio-gtico-construdo {
  position: absolute;
  top: 85.2px;
  left: 0;
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 288.7px;
  height: 53.2px;
}
.de-outubro-de12 {
  top: 150px;
  left: 1px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 180.9px;
  height: 15.1px;
}
.text6 {
  position: absolute;
  top: 175.7px;
  left: 9.5px;
  width: 288.7px;
  height: 165px;
}
.gargula-notre-dame-3 {
  position: absolute;
  top: 0.6px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 309px;
  height: 170px;
  object-fit: cover;
}
.as-fantsticas-grgulas-de-not {
  position: absolute;
  top: -0.6px;
  left: 0;
  width: 309.4px;
  height: 351.4px;
}
.as-fantsticas-grgulas-de-not-wrapper {
  text-decoration: none;
  position: absolute;
  top: 99px;
  left: 6px;
  width: 309px;
  height: 347px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.resultados-correspondentes2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  display: inline-block;
  color: var(--color-black);
  width: 762px;
  height: 71px;
}
.blog-entries3,
.blog-entries4 {
  position: absolute;
  top: 95px;
  left: 159px;
  width: 762px;
  height: 826px;
}
.blog-entries3 {
  top: 43px;
  left: 0;
  width: 921px;
  height: 993px;
  overflow: hidden;
}
.histrias-da-arte8,
.sobre-o-site11 {
  text-decoration: none;
  left: 0;
  color: inherit;
  width: 312.6px;
}
.sobre-o-site11 {
  position: absolute;
  top: 0;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}
.histrias-da-arte8 {
  top: 39px;
}
.div10,
.div11,
.div12,
.histrias-da-arte8,
.tutoriais8 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.tutoriais8 {
  text-decoration: none;
  top: 76px;
  left: 0;
  color: inherit;
  width: 312.6px;
  cursor: pointer;
}
.div10,
.div11,
.div12 {
  top: 0;
  left: 327.6px;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
  width: 17.4px;
}
.div11,
.div12 {
  top: 39px;
  left: 323px;
  width: 22px;
}
.div12 {
  top: 73px;
}
.entries5 {
  position: absolute;
  top: 72px;
  left: 0;
  width: 345px;
  height: 101px;
}
.title-item {
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #57443b, #bcaf9e 50.72%, #57453b);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 48px;
}
.categorias5,
.title-item,
.title3 {
  position: absolute;
  top: 0;
}
.categorias5 {
  left: 84.3px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 198.7px;
}
.title3 {
  left: 0;
  width: 345px;
  height: 48px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray);
}
.categorias4,
.section-side-categories2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 173px;
}
.categorias4 {
  top: 541px;
  left: 35px;
}
.popular5,
.title-section-inner {
  position: absolute;
  top: 0;
  width: 345px;
  height: 48px;
}
.title-section-inner {
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.16deg,
    #443128 6.25%,
    #bfb2a1 52.42%,
    #443128 95.83%
  );
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.popular5 {
  left: calc(50% - 172.5px);
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.title-section2,
.tullio-lombardo-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
}
.title-section2 {
  height: 48px;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.tullio-lombardo-inner {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  height: 96px;
}
.de-outubro-de13,
.tullio-lombardo-e3 {
  position: absolute;
  display: inline-block;
}
.tullio-lombardo-e3 {
  top: 13px;
  left: 140.9px;
  text-transform: capitalize;
  width: 193px;
  height: 33px;
  color: black;
}
.de-outubro-de13 {
  top: 55px;
  left: 141.9px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 172px;
}
.mask-group-icon20 {
  position: absolute;
  top: 13px;
  left: 7px;
  width: 122.6px;
  height: 70px;
  object-fit: cover;
}
.tullio-lombardo-container {
  position: absolute;
  top: 300px;
  left: 0;
  width: 345px;
  height: 96px;
  overflow: hidden;
}
.de-outubro-de14,
.histria-das-esculturas3 {
  position: absolute;
  left: 141.9px;
  display: inline-block;
}
.histria-das-esculturas3 {
  top: 13px;
  text-transform: capitalize;
  width: 200px;
  height: 15px;
}
.de-outubro-de14 {
  top: 53px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 159px;
}
.mask-group-icon21 {
  position: absolute;
  top: 13px;
  left: 7.9px;
  width: 122.6px;
  height: 70px;
  object-fit: cover;
}
.histria-das-grgulas {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 96px;
}
.histria-das-grgulas-wrapper {
  text-decoration: none;
  position: absolute;
  top: 184px;
  left: 0;
  width: 345px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.as-fantsticas-grgulas3,
.de-outubro-de15 {
  position: absolute;
  left: 141.9px;
  display: inline-block;
}
.as-fantsticas-grgulas3 {
  top: 13px;
  text-transform: capitalize;
  width: 192px;
  height: 15px;
}
.de-outubro-de15 {
  top: 53px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 169px;
}
.fantsticas-grgulas-wrapper {
  text-decoration: none;
  position: absolute;
  top: 68px;
  left: 0;
  width: 345px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.entries4,
.popular4,
.section-side-card2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 396px;
}
.entries4,
.popular4 {
  top: 121px;
  left: 35px;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}
.entries4 {
  top: 43px;
  left: 935px;
  width: 505px;
  height: 993px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.navbar-child7,
.navbar-child8 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 43px;
}
.navbar-child7 {
  background: linear-gradient(90.02deg, #bfb2a1, #787167);
}
.navbar-child8 {
  background-color: var(--color-rosybrown-100);
}
.home4 {
  position: absolute;
  left: calc(50% - 640.5px);
}
.contato11,
.home4,
.loja12 {
  text-decoration: none;
  top: 0;
  color: inherit;
  cursor: pointer;
}
.loja12 {
  position: absolute;
  left: calc(50% + 475.5px);
}
.contato11 {
  left: calc(50% + 361.5px);
}
.contato11,
.faq5,
.navbar16 {
  position: absolute;
}
.faq5 {
  text-decoration: none;
  top: 0;
  left: calc(50% + 592.5px);
  color: inherit;
  cursor: pointer;
}
.navbar16 {
  top: 7px;
  left: calc(50% - 680px);
  width: 1281px;
  height: 30px;
}
.navbar14,
.navbar15 {
  position: absolute;
  top: 0;
  width: 1440px;
  height: 43px;
}
.navbar15 {
  left: calc(50% - 720px);
}
.navbar14 {
  left: 0;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
}
.blog-search {
  position: relative;
  background-color: var(--color-dimgray-200);
  width: 100%;
  height: 1475px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-outfit);
}
