.grunge-vintage-old-paper-backg-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 2255px;
  object-fit: cover;
}
.bottom-page-info-child11 {
  position: absolute;
  top: 346px;
  left: calc(50% - 720px);
  background-color: var(--color-rosybrown-100);
  width: 1440px;
  height: 35px;
}
.esculturas-em-tamanho13 {
  margin: 0;
}
.esculturas-em-miniatura-container13,
.esculturas-em-tamanho-container13,
.esculturas-personalizadas13,
.possvel-fazer-alteraes14,
.quais-so-as14,
.qual-o15 {
  text-decoration: none;
  position: absolute;
  top: 90px;
  left: calc(50% - 209px);
  line-height: 30px;
  color: inherit;
  display: inline-block;
  width: 227px;
  height: 19px;
  cursor: pointer;
}
.esculturas-em-miniatura-container13,
.esculturas-personalizadas13,
.possvel-fazer-alteraes14,
.quais-so-as14,
.qual-o15 {
  top: 115px;
  height: 21px;
}
.esculturas-personalizadas13,
.possvel-fazer-alteraes14,
.quais-so-as14,
.qual-o15 {
  top: 142px;
  height: 28px;
}
.possvel-fazer-alteraes14,
.quais-so-as14,
.qual-o15 {
  top: 64px;
  left: calc(50% + 18px);
  width: 260px;
  height: 21px;
}
.possvel-fazer-alteraes14,
.qual-o15 {
  top: 91px;
  width: 197px;
  height: 19px;
}
.possvel-fazer-alteraes14 {
  top: 116px;
  width: 302px;
  height: 20px;
}
.esculturas-abstratas13,
.esculturas-figurativas13 {
  position: absolute;
  left: calc(50% - 209px);
  line-height: 30px;
  display: inline-block;
  width: 227px;
}
.esculturas-figurativas13 {
  text-decoration: none;
  top: 37px;
  color: inherit;
  height: 21px;
  cursor: pointer;
}
.esculturas-abstratas13 {
  top: 64px;
  height: 23px;
}
.esculturas-abstratas13,
.quais-so-os15,
.sobre-o-site26,
.tutoriais23 {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.quais-so-os15 {
  position: absolute;
  top: 37px;
  left: calc(50% + 18px);
  line-height: 30px;
  display: inline-block;
  width: 240px;
  height: 21px;
}
.sobre-o-site26,
.tutoriais23 {
  left: calc(50% + 365px);
  width: 163px;
}
.sobre-o-site26 {
  position: absolute;
  top: 37px;
  line-height: 30px;
  display: inline-block;
  height: 23px;
}
.tutoriais23 {
  top: 94px;
  height: 24px;
}
.blog32,
.histrias-da-arte23,
.loja27,
.qa14,
.tutoriais23 {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.histrias-da-arte23 {
  text-decoration: none;
  top: 66px;
  left: calc(50% + 365px);
  color: inherit;
  width: 163px;
  height: 22px;
  cursor: pointer;
}
.blog32,
.loja27,
.qa14 {
  top: 0;
  left: calc(50% - 209px);
  width: 40px;
  height: 19px;
}
.blog32,
.qa14 {
  left: calc(50% + 18px);
  width: 38px;
}
.blog32 {
  left: calc(50% + 368px);
  width: 40px;
  height: 16px;
}
.facebook-icon-213,
.insta-icon-213 {
  position: absolute;
  top: 210px;
  left: 166px;
  width: 18px;
  height: 17.1px;
  object-fit: cover;
}
.insta-icon-213 {
  top: 243px;
  height: 18px;
}
.esculturas-design-pratico13,
.esculturasdesignpratico13,
.pinterest-esculturas-design-p13,
.redes-sociais13 {
  position: absolute;
  top: 269px;
  left: calc(50% - 553px);
  line-height: 30px;
  text-transform: capitalize;
  display: inline-block;
  width: 289px;
  height: 26px;
}
.esculturas-design-pratico13,
.esculturasdesignpratico13,
.redes-sociais13 {
  top: 177px;
  height: 21px;
}
.esculturas-design-pratico13,
.esculturasdesignpratico13 {
  top: 236px;
  left: calc(50% - 524px);
  width: 260px;
}
.esculturasdesignpratico13 {
  top: 202px;
  height: 24px;
}
.e-mail14,
.esculturasdesignpraticogmail13 {
  position: absolute;
  top: 113px;
  left: calc(50% - 554px);
  line-height: 30px;
  display: inline-block;
  width: 290px;
  height: 22px;
}
.esculturasdesignpraticogmail13 {
  top: 141px;
  height: 24px;
}
.contato26,
.endereo-rua-das13,
.sp-12345-678913,
.telefone-11-9999-999913 {
  position: absolute;
  top: 83px;
  left: calc(50% - 553px);
  line-height: 30px;
  display: inline-block;
  width: 289px;
  height: 24px;
}
.contato26,
.endereo-rua-das13,
.sp-12345-678913 {
  top: 27px;
  left: calc(50% - 554px);
  width: 290px;
  height: 22px;
}
.contato26,
.sp-12345-678913 {
  top: 55px;
  left: calc(50% - 553px);
  width: 289px;
}
.contato26 {
  top: 0;
  left: calc(50% - 554px);
  width: 61px;
  height: 25px;
}
.bottom-page-info26 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 381px;
}
.bottom-info24,
.bottom-info25 {
  position: absolute;
  top: 43px;
  left: 0;
  width: 1440px;
  height: 381px;
  overflow: hidden;
}
.bottom-info24 {
  top: 1831px;
  height: 424px;
  text-align: left;
}
.ad-child5 {
  position: relative;
  background-color: var(--color-gray-300);
  width: 258px;
  height: 33px;
  z-index: 0;
}
.img-20231018-wa0031-2-icon2 {
  position: relative;
  width: 258px;
  height: 340px;
  object-fit: cover;
  z-index: 1;
}
.publicidade7 {
  margin: 0 !important;
  top: 0;
  left: 1px;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: 32px;
  flex-shrink: 0;
  z-index: 2;
}
.ad7,
.publicidade7,
.x7 {
  position: absolute;
  display: flex;
}
.x7 {
  margin: 0 !important;
  top: 0;
  left: 224px;
  color: var(--color-gray-400);
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 33px;
  flex-shrink: 0;
  z-index: 3;
}
.ad7 {
  text-decoration: none;
  top: 789px;
  left: 979px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.card-image-big-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 237px;
  height: 273px;
}
.tullio-lombardo-e11 {
  top: 17.8px;
  left: 1px;
  text-transform: capitalize;
  font-family: var(--font-outfit);
  width: 220px;
  height: 29.2px;
}
.em-destaque7,
.por-raul-sousa4,
.tullio-lombardo-e11 {
  position: absolute;
  display: inline-block;
}
.em-destaque7 {
  top: 0;
  left: 0;
  font-family: var(--font-outfit);
  width: 172px;
  height: 10.4px;
}
.por-raul-sousa4 {
  top: 52.2px;
  left: 1px;
  font-weight: 500;
  color: var(--color-dimgray-300);
  width: 152px;
  height: 17.8px;
}
.esttua5 {
  text-decoration: underline;
}
.tullio {
  color: inherit;
}
.de-outubro-de44,
.o-ado-container1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.o-ado-container1 {
  top: 73px;
  font-size: var(--font-size-xs);
  color: inherit;
  width: 221px;
  height: 29.2px;
}
.de-outubro-de44 {
  top: 105.5px;
  font-weight: 500;
  color: var(--color-dimgray-300);
  width: 184px;
  height: 17.8px;
}
.text8 {
  position: absolute;
  top: 141px;
  left: 8px;
  width: 221px;
  height: 123.2px;
}
.mask-group-icon50,
.section-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 237px;
  height: 273px;
}
.mask-group-icon50 {
  height: 131.7px;
  object-fit: cover;
}
.tullio-lombardo-wrapper4 {
  text-decoration: none;
  position: absolute;
  top: 783px;
  left: 342px;
  width: 237px;
  height: 273px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
  font-family: var(--font-montserrat);
}
.mask-group-icon51 {
  position: absolute;
  top: 0;
  left: -100px;
  width: 360px;
  height: 280px;
  object-fit: cover;
}
.catedral-de-chartres9,
.em-destaque8 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.catedral-de-chartres9 {
  top: 19px;
  text-transform: capitalize;
  width: 198px;
  height: 29px;
}
.em-destaque8 {
  top: 0;
  width: 182px;
  height: 10px;
}
.jonathan {
  font-size: var(--font-size-sm);
}
.por-jonathan-torres-container3 {
  top: 54px;
  color: var(--color-dimgray-300);
  width: 198px;
  height: 18px;
  font-size: var(--font-size-base);
}
.a-catedral-de2,
.de-outubro-de45,
.por-jonathan-torres-container3 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.a-catedral-de2 {
  top: 73px;
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--color-black);
  width: 214px;
  height: 32px;
}
.de-outubro-de45 {
  top: 105px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 182px;
  height: 23px;
}
.text9 {
  position: absolute;
  top: 135px;
  left: 8px;
  width: 214px;
  height: 128px;
}
.catedral-de-chartres8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 229.9px;
  height: 266.3px;
}
.catedral-de-chartres-wrapper1 {
  text-decoration: none;
  position: absolute;
  top: 783px;
  left: 0px;
  width: 230px;
  height: 274px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.em-destaque9,
.tutoriais-a-escultura {
  position: absolute;
  left: 0;
  display: inline-block;
}
.tutoriais-a-escultura {
  top: 21px;
  text-transform: capitalize;
  width: 215px;
  height: 17px;
}
.em-destaque9 {
  top: 0;
  width: 176px;
  height: 15px;
}
.por-raul-sousa5 {
  top: 47px;
  color: var(--color-dimgray-300);
  width: 92.2px;
  height: 11.3px;
}
.a-escultura-de6,
.de-outubro-de46,
.por-raul-sousa5 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.a-escultura-de6 {
  top: 70px;
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--color-black);
  width: 221px;
  height: 29px;
}
.de-outubro-de46 {
  top: 107px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 183px;
  height: 16px;
}
.text10 {
  position: absolute;
  top: 134px;
  left: 9px;
  width: 221px;
  height: 123px;
}
.mask-group-icon52 {
  position: absolute;
  top: 0;
  left: 0;
  width: 237px;
  height: 129px;
  object-fit: cover;
}
.tutoriais-a-escultura-de-vult-wrapper {
  text-decoration: none;
  position: absolute;
  top: 463px;
  left: 342px;
  width: 237px;
  height: 273px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.card-image-big-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 230px;
  height: 269px;
}
.as-fantsticas-grgulas11,
.em-destaque10 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.as-fantsticas-grgulas11 {
  top: 20px;
  font-size: var(--font-size-xs);
  text-transform: capitalize;
  width: 182px;
  height: 29px;
}
.em-destaque10 {
  top: 0;
  width: 175px;
  height: 14px;
}
.por-jonathan-torres1 {
  top: 52px;
  color: var(--color-dimgray-300);
  width: 167px;
  height: 17px;
}
.de-outubro-de47,
.edifcio-gtico-construdo1,
.por-jonathan-torres1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.edifcio-gtico-construdo1 {
  top: 73px;
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--color-black);
  width: 215px;
  height: 26px;
}
.de-outubro-de47 {
  top: 109px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 189px;
  height: 18px;
}
.text11 {
  position: absolute;
  top: 130px;
  left: 8px;
  width: 215px;
  height: 127px;
}
.mask-group-icon53 {
  position: absolute;
  top: 0.6px;
  left: 0;
  width: 230px;
  height: 124px;
  object-fit: cover;
}
.fanfsticas-grgulas-de-notre-,
.fanfsticas-grgulas-de-notre-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 269px;
}
.fanfsticas-grgulas-de-notre-wrapper {
  text-decoration: none;
  top: 463px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.histrias-da-arte24,
.sobre-o-site27 {
  text-decoration: none;
  left: 0;
  color: inherit;
  width: 314.5px;
  cursor: pointer;
}
.sobre-o-site27 {
  position: absolute;
  top: 0;
  font-weight: 600;
  display: inline-block;
}
.histrias-da-arte24 {
  top: 36px;
}
.div34,
.div35,
.div36,
.histrias-da-arte24,
.tutoriais24 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.tutoriais24 {
  text-decoration: none;
  top: 73px;
  left: 0;
  color: inherit;
  width: 314.5px;
  cursor: pointer;
}
.div34,
.div35,
.div36 {
  top: 0;
  left: 326px;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
  width: 18px;
}
.div35,
.div36 {
  top: 36px;
  left: 322px;
  width: 22px;
}
.div36 {
  top: 73px;
  left: 323px;
  width: 21px;
}
.entries21,
.sobre-o-site-parent1,
.title-section-child10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 344px;
  height: 98px;
}
.entries21,
.title-section-child10 {
  top: 72px;
}
.title-section-child10 {
  top: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #57443b, #bcaf9e 50.72%, #57453b);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 344.1px;
  height: 48px;
}
.categorias21 {
  position: absolute;
  top: 0;
  left: 84.8px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 199.8px;
}
.categorias20,
.title-section12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 344.1px;
  height: 48px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray);
}
.categorias20 {
  top: 420px;
  left: 695px;
  height: 170px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.article-side-card-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  width: 345px;
  height: 96px;
}
.tullio-lombardo-e12 {
  position: absolute;
  top: 13px;
  left: 149.1px;
  text-transform: capitalize;
  display: inline-block;
  width: 188.1px;
  height: 33px;
}
.de-outubro-de48 {
  position: absolute;
  top: 55px;
  left: 150.1px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  display: inline-block;
  width: 167.7px;
}
.article-side-card {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 96px;
}
.mask-group-icon54 {
  position: absolute;
  top: 13px;
  left: 11.5px;
  width: 126.5px;
  height: 70px;
  object-fit: cover;
}
.tlio-lombardo,
.tlio-lombardo-wrapper {
  text-decoration: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 345px;
  height: 96px;
  cursor: pointer;
  color: inherit;
}
.tlio-lombardo-wrapper {
  top: 303px;
  width: 343px;
  height: 93px;
  overflow: hidden;
}
.de-outubro-de49,
.histria-das-esculturas14 {
  position: absolute;
  left: 149.1px;
  display: inline-block;
}
.histria-das-esculturas14 {
  top: 13px;
  text-transform: capitalize;
  width: 195px;
  height: 15px;
}
.de-outubro-de49 {
  top: 53px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 155px;
}
.histrias-de-esculturas,
.histrias-de-esculturas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 96px;
}
.histrias-de-esculturas-wrapper {
  text-decoration: none;
  top: 280px;
  left: 1px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.as-fantsticas-grgulas12,
.de-outubro-de50 {
  position: absolute;
  left: 149.1px;
  display: inline-block;
}
.as-fantsticas-grgulas12 {
  top: 13px;
  text-transform: capitalize;
  width: 187.2px;
  height: 15px;
}
.de-outubro-de50 {
  top: 53px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 164.8px;
}
.gargulas-notre-dame-wrapper {
  text-decoration: none;
  position: absolute;
  top: 175px;
  left: 1px;
  width: 345px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.title-section-child11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.16deg,
    #443128 6.25%,
    #bfb2a1 52.42%,
    #443128 95.83%
  );
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 48px;
}
.popular20 {
  position: absolute;
  top: 0;
  left: 109px;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 147px;
}
.title-section13 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 345px;
  height: 48px;
  font-size: var(--font-size-17xl);
}
.popular-entries,
.title-section-child12 {
  position: absolute;
  top: 0;
  left: 694px;
  width: 346px;
  height: 396px;
}
.title-section-child12 {
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.24deg,
    #bfb2a1,
    rgba(191, 178, 161, 0.98) 40.63%,
    #443128 76.04%
  );
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 582px;
  height: 48px;
}
.posts-recentes {
  position: absolute;
  top: 6px;
  left: 18.4px;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  width: 560.5px;
}
.title-section14 {
  position: absolute;
  top: 355px;
  left: 0;
  width: 582px;
  height: 48px;
  font-size: var(--font-size-9xl);
}
.test-c-mgr-christory-img-1303-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 581.5px;
  height: 313px;
  object-fit: cover;
}
.banner-article-child,
.banner-article-item {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
  width: 205.5px;
}
.banner-article-child {
  top: 221.3px;
  background: linear-gradient(
    180deg,
    rgba(221, 206, 186, 0.87) 9.9%,
    rgba(221, 206, 186, 0.5) 51.04%,
    rgba(221, 206, 186, 0.24)
  );
  height: 91.7px;
}
.banner-article-item {
  top: 279px;
  background-color: rgba(30, 10, 3, 0.8);
  height: 34px;
}
.sobre-o-site28 {
  top: 18px;
  left: 3px;
  text-transform: capitalize;
  width: 180px;
  height: 22px;
}
.em-destaque11,
.por-raul-sousa6,
.sobre-o-site28 {
  position: absolute;
  display: inline-block;
}
.em-destaque11 {
  top: 0;
  left: 3px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  width: 166px;
  height: 16px;
}
.por-raul-sousa6 {
  top: 54px;
  left: 0;
  color: var(--color-darkgray-100);
  width: 178px;
  height: 29px;
}
.banner-article,
.text12 {
  position: absolute;
  top: 230px;
  left: 10px;
  width: 183px;
  height: 83px;
  color: var(--color-black);
}
.banner-article {
  top: 0;
  left: 0;
  width: 579px;
  height: 313px;
  font-size: var(--font-size-xl);
}
.blog-entries-child {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}
.blog-entries5 {
  position: absolute;
  top: 78px;
  left: 197px;
  width: 1040px;
  height: 1056px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}
.entries20 {
  position: absolute;
  top: 618px;
  left: 0;
  width: 1440px;
  height: 1213px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.artigos-notcias-e,
.blog33 {
  position: absolute;
  display: inline-block;
}
.blog33 {
  top: 0;
  left: calc(50% - 50.5px);
  text-transform: capitalize;
  width: 101px;
}
.artigos-notcias-e {
  top: 312px;
  left: calc(50% - 291.5px);
  font-size: var(--font-size-5xl);
  width: 583px;
  height: 32px;
}
.removebg-preview-2-icon {
  position: absolute;
  top: 74px;
  left: calc(50% - 139.5px);
  width: 268px;
  height: 212px;
  object-fit: cover;
}
.img-20230916-wa0023-removebg-p-icon {
  position: absolute;
  top: 180px;
  left: calc(50% + 120px);
  width: 80px;
  height: 96px;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.img-20230916-wa0023-removebg-p-icon1 {
  position: absolute;
  top: 180px;
  left: 82px;
  width: 78px;
  height: 96px;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.blog-icon {
  position: absolute;
  top: 77px;
  left: calc(50% - 291px);
  width: 583px;
  height: 344px;
}
.barbed-wire-10-icon1,
.barbed-wire-2-icon2 {
  position: absolute;
  top: 0;
  left: 70px;
  width: 149px;
  height: 50px;
  object-fit: cover;
}
.barbed-wire-10-icon1 {
  left: 0;
}
.barbed-wire-3-icon2,
.barbed-wire-4-icon2,
.barbed-wire-5-icon1,
.barbed-wire-6-icon5 {
  position: absolute;
  top: 0;
  left: 191px;
  width: 149px;
  height: 50px;
  object-fit: cover;
}
.barbed-wire-4-icon2,
.barbed-wire-5-icon1,
.barbed-wire-6-icon5 {
  left: 312px;
}
.barbed-wire-5-icon1,
.barbed-wire-6-icon5 {
  left: 433px;
}
.barbed-wire-6-icon5 {
  left: 549px;
}
.barbed-wire-11-icon,
.barbed-wire-7-icon5,
.barbed-wire-8-icon1,
.barbed-wire-9-icon1 {
  position: absolute;
  top: 0;
  left: 665px;
  width: 149px;
  height: 50px;
  object-fit: cover;
}
.barbed-wire-11-icon,
.barbed-wire-8-icon1,
.barbed-wire-9-icon1 {
  left: 781px;
}
.barbed-wire-11-icon,
.barbed-wire-9-icon1 {
  left: 897px;
}
.barbed-wire-11-icon {
  left: 961px;
}
.barbed-wire5,
.decorao5,
.title10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1110px;
  height: 50px;
}
.decorao5,
.title10 {
  top: 498px;
  left: 165px;
}
.title10 {
  top: 43px;
  left: 0;
  width: 1440px;
  height: 575px;
  overflow: hidden;
  font-size: var(--font-size-29xl);
}
.navbar-child23,
.navbar-child24 {
  position: absolute;
  top: 0;
  left: calc(50% - 718.5px);
  width: 1437px;
  height: 43px;
}
.navbar-child23 {
  background: linear-gradient(90.02deg, #bfb2a1, #787167);
}
.navbar-child24 {
  background-color: var(--color-rosybrown-100);
}
.contato27,
.faq13,
.home12,
.loja28 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: calc(50% - 643.5px);
  color: inherit;
  display: inline-block;
  width: 73px;
  cursor: pointer;
}
.contato27,
.faq13,
.loja28 {
  left: calc(50% + 466.5px);
  width: 57px;
}
.contato27,
.faq13 {
  left: calc(50% + 325.5px);
  width: 94px;
}
.faq13 {
  left: calc(50% + 583.5px);
  width: 60px;
}
.navbar40 {
  position: absolute;
  top: 9px;
  left: calc(50% - 668.5px);
  width: 1287px;
  height: 30px;
}
.navbar38,
.navbar39 {
  position: absolute;
  top: 0;
  height: 43px;
}
.navbar39 {
  left: calc(50% - 720px);
  width: 1437px;
}
.navbar38 {
  left: 0;
  width: 1440px;
  overflow: hidden;
  font-size: 18px;
}
.blog-inicial {
  position: relative;
  background-color: var(--color-dimgray-200);
  width: 100%;
  height: 2255px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-outfit);
}
