.grunge-vintage-old-paper-backg-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1761px;
  object-fit: cover;
}
.bottom-page-info-child9 {
  position: absolute;
  top: 346px;
  left: calc(50% - 720px);
  background-color: var(--color-rosybrown-100);
  width: 1440px;
  height: 35px;
}
.esculturas-em-miniatura-container11,
.esculturas-em-tamanho-container11,
.esculturas-personalizadas11,
.possvel-fazer-alteraes12,
.quais-so-as12,
.qual-o13 {
  text-decoration: none;
  position: absolute;
  top: 90px;
  left: calc(50% - 209px);
  line-height: 30px;
  color: inherit;
  display: inline-block;
  width: 227px;
  height: 19px;
  cursor: pointer;
}
.esculturas-em-miniatura-container11,
.esculturas-personalizadas11,
.possvel-fazer-alteraes12,
.quais-so-as12,
.qual-o13 {
  top: 115px;
  height: 21px;
}
.esculturas-personalizadas11,
.possvel-fazer-alteraes12,
.quais-so-as12,
.qual-o13 {
  top: 142px;
  height: 28px;
}
.possvel-fazer-alteraes12,
.quais-so-as12,
.qual-o13 {
  top: 64px;
  left: calc(50% + 18px);
  width: 260px;
  height: 21px;
}
.possvel-fazer-alteraes12,
.qual-o13 {
  top: 91px;
  width: 197px;
  height: 19px;
}
.possvel-fazer-alteraes12 {
  top: 116px;
  width: 302px;
  height: 20px;
}
.esculturas-abstratas11,
.esculturas-figurativas11 {
  position: absolute;
  left: calc(50% - 209px);
  line-height: 30px;
  display: inline-block;
  width: 227px;
}
.esculturas-figurativas11 {
  text-decoration: none;
  top: 37px;
  color: inherit;
  height: 21px;
  cursor: pointer;
}
.esculturas-abstratas11 {
  top: 64px;
  height: 23px;
}
.esculturas-abstratas11,
.quais-so-os13,
.sobre-o-site22,
.tutoriais19 {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.quais-so-os13 {
  position: absolute;
  top: 37px;
  left: calc(50% + 18px);
  line-height: 30px;
  display: inline-block;
  width: 240px;
  height: 21px;
}
.sobre-o-site22,
.tutoriais19 {
  left: calc(50% + 365px);
  width: 163px;
}
.sobre-o-site22 {
  position: absolute;
  top: 37px;
  line-height: 30px;
  display: inline-block;
  height: 23px;
}
.tutoriais19 {
  top: 94px;
  height: 24px;
}
.blog25,
.histrias-da-arte19,
.loja23,
.qa12,
.tutoriais19 {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.histrias-da-arte19 {
  text-decoration: none;
  top: 66px;
  left: calc(50% + 365px);
  color: inherit;
  width: 163px;
  height: 22px;
  cursor: pointer;
}
.blog25,
.loja23,
.qa12 {
  top: 0;
  left: calc(50% - 209px);
  width: 40px;
  height: 19px;
}
.blog25,
.qa12 {
  left: calc(50% + 18px);
  width: 38px;
}
.blog25 {
  left: calc(50% + 368px);
  width: 40px;
  height: 16px;
}
.facebook-icon-211,
.insta-icon-211 {
  position: absolute;
  top: 210px;
  left: 166px;
  width: 18px;
  height: 17.1px;
  object-fit: cover;
}
.insta-icon-211 {
  top: 243px;
  height: 18px;
}
.esculturas-design-pratico11,
.esculturasdesignpratico11,
.pinterest-esculturas-design-p11,
.redes-sociais11 {
  position: absolute;
  top: 269px;
  left: calc(50% - 553px);
  line-height: 30px;
  text-transform: capitalize;
  display: inline-block;
  width: 289px;
  height: 26px;
}
.esculturas-design-pratico11,
.esculturasdesignpratico11,
.redes-sociais11 {
  top: 177px;
  height: 21px;
}
.esculturas-design-pratico11,
.esculturasdesignpratico11 {
  top: 236px;
  left: calc(50% - 524px);
  width: 260px;
}
.esculturasdesignpratico11 {
  top: 202px;
  height: 24px;
}
.e-mail12,
.esculturasdesignpraticogmail11 {
  position: absolute;
  top: 113px;
  left: calc(50% - 554px);
  line-height: 30px;
  display: inline-block;
  width: 290px;
  height: 22px;
}
.esculturasdesignpraticogmail11 {
  top: 141px;
  height: 24px;
}
.contato22,
.endereo-rua-das11,
.sp-12345-678911,
.telefone-11-9999-999911 {
  position: absolute;
  top: 83px;
  left: calc(50% - 553px);
  line-height: 30px;
  display: inline-block;
  width: 289px;
  height: 24px;
}
.contato22,
.endereo-rua-das11,
.sp-12345-678911 {
  top: 27px;
  left: calc(50% - 554px);
  width: 290px;
  height: 22px;
}
.contato22,
.sp-12345-678911 {
  top: 55px;
  left: calc(50% - 553px);
  width: 289px;
}
.contato22 {
  top: 0;
  left: calc(50% - 554px);
  width: 61px;
  height: 25px;
}
.bottom-page-info22 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 381px;
}
.bottom-info20,
.bottom-info21 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 1440px;
  height: 381px;
  overflow: hidden;
}
.bottom-info20 {
  top: 1360px;
  height: 401px;
}
.esculturas-em-catedrais2 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
  width: 482.8px;
  height: 28px;
}
.raul-sousa2 {
  font-family: var(--font-outfit);
}
.de-outubro-de36,
.por-raul-sousa-container5 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  text-wrap: nowrap;
  width: 105.4px;
}
.de-outubro-de36 {
  left: 188.2px;
  font-family: var(--font-outfit);
  width: 154.7px;
}
.por-raul-sousa-parent2 {
  position: absolute;
  top: 46px;
  left: 0;
  width: 342.9px;
  height: 40px;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.esculturas-em-catedrais-e-seus-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 482.8px;
  height: 86px;
}
.histria-das-esculturas-na-arq {
  margin: 0;
  font-size: var(--font-size-5xl);
  font-family: var(--font-outfit);
}
.blank-line155 {
  margin: 0;
  font-size: var(--font-size-base);
}
.desde-seu-incio1 {
  font-weight: 300;
}
.desde-seu-incio-escultura-g {
  margin: 0;
  font-family: var(--font-outfit);
}
.histria-das-esculturas-container1 {
  position: absolute;
  top: 105px;
  left: 0;
  color: var(--color-black);
  display: inline-block;
  width: 733px;
  height: 266px;
  font-size: 16px;
  font-family: var(--font-outfit);
}
.article1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 733px;
  height: 371px;
  font-size: var(--font-size-5xl);
}
.px-reims-portail-nord-st-calix-icon {
  position: absolute;
  top: 440px;
  left: 0;
  width: 167.5px;
  height: 370px;
  object-fit: cover;
}
.a-escultura-gtica {
  margin: 0;
}
.as-esculturas-monumentais-container {
  position: absolute;
  top: 449px;
  left: 189.2px;
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 543.8px;
  height: 295px;
}
.st-callixtus-i {
  margin: 0;
  font-weight: 600;
}
.st-callixtus-i1 {
  margin: 0;
  font-weight: 300;
}
.st-callixtus-i-container {
  position: absolute;
  top: 824px;
  left: 0;
  display: inline-block;
  width: 167.5px;
  height: 80px;
}
.blog27,
.group-child3 {
  position: absolute;
  top: 80px;
  left: 166px;
  width: 733px;
  height: 904px;
}
.group-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  height: 48px;
}
.home-blog5 {
  position: absolute;
  top: 15px;
  left: 12.8px;
  display: inline-block;
  text-wrap: nowrap;
  font-family: var(--font-outfit);
  font-size: 16px;
  width: 517.2px;
}
.rectangle-parent3 {
  top: 0;
  left: 0;
}
.address-bar-child3,
.address-bar5,
.rectangle-parent3 {
  position: absolute;
  width: 733px;
  height: 48px;
}
.address-bar-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.address-bar5 {
  top: 9px;
  left: 166px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.blog26 {
  position: absolute;
  top: 247px;
  left: 0;
  width: 936px;
  height: 1113px;
  overflow: hidden;
}
.ad-child3 {
  position: relative;
  background-color: var(--color-maroon);
  width: 257px;
  height: 33px;
  z-index: 0;
}
.img-20231018-wa0000-2-icon1 {
  position: relative;
  width: 257px;
  height: 338px;
  object-fit: cover;
  z-index: 1;
}
.publicidade5 {
  margin: 0 !important;
  top: 0;
  left: 1px;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: 32px;
  flex-shrink: 0;
  z-index: 2;
}
.ad5,
.publicidade5,
.x5 {
  position: absolute;
  display: flex;
}
.x5 {
  margin: 0 !important;
  top: 0;
  left: 224px;
  color: var(--color-gainsboro-200);
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 33px;
  flex-shrink: 0;
  z-index: 3;
}
.ad5 {
  text-decoration: none;
  top: 729px;
  left: 121px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  text-align: center;
  color: inherit;
}
.div28,
.sobre-o-site23 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.sobre-o-site23 {
  text-decoration: none;
  color: inherit;
  width: 322.6px;
  cursor: pointer;
}
.div28 {
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
  width: 17.6px;
}
.sobre-o-site-group {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  cursor: pointer;
  color: inherit;
}
.div29 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-outfit);
  display: inline-block;
  width: 17.6px;
  flex-shrink: 0;
}
.histrias-da-arte-group {
  text-decoration: none;
  position: absolute;
  top: 36px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.div30,
.tutoriais20 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.tutoriais20 {
  text-decoration: none;
  color: inherit;
  width: 229px;
  cursor: pointer;
}
.div30 {
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
  left: 93px;
  width: 21px;
}
.tutoriais-group {
  text-decoration: none;
  position: absolute;
  top: 73px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 93px;
  cursor: pointer;
  color: inherit;
}
.entries17,
.title-section-child6 {
  position: absolute;
  top: 72px;
  left: 0;
  width: 344.6px;
  height: 98px;
}
.title-section-child6 {
  top: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #57443b, #bcaf9e 50.72%, #57453b);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 344px;
  height: 48px;
}
.categorias17 {
  position: absolute;
  top: 0;
  left: 87px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 205px;
}
.title-section8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 344px;
  height: 48px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray);
}
.categorias16,
.section-side-categories8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 344.6px;
  height: 170px;
}
.categorias16 {
  top: 451px;
  left: 35px;
  color: var(--color-darkslategray);
}
.de-outubro-de37,
.tullio-lombardo-e9 {
  position: absolute;
  display: inline-block;
}
.tullio-lombardo-e9 {
  top: 13px;
  left: 149.1px;
  text-transform: capitalize;
  width: 188.1px;
  height: 33px;
}
.de-outubro-de37 {
  top: 55px;
  left: 150.1px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 167.7px;
}
.tullio-lombardo12 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 96px;
}
.mask-group-icon43 {
  position: absolute;
  top: 13px;
  left: 11.8px;
  width: 129.8px;
  height: 70px;
  object-fit: cover;
}
.tullio-lombardo-parent {
  text-decoration: none;
  position: absolute;
  top: 300px;
  left: 0;
  width: 345px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.catedral-de-chartres-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  width: 345px;
  height: 96px;
}
.catedral-de-chartres5,
.de-outubro-de38 {
  position: absolute;
  left: 149.1px;
  display: inline-block;
}
.catedral-de-chartres5 {
  top: 13px;
  text-transform: capitalize;
  width: 195px;
  height: 15px;
}
.de-outubro-de38 {
  top: 53px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 155px;
}
.catedral-de-chartres-parent {
  text-decoration: none;
  position: absolute;
  top: 184px;
  left: 1px;
  width: 345px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.as-fantsticas-grgulas9,
.de-outubro-de39 {
  position: absolute;
  left: 149.1px;
  display: inline-block;
}
.as-fantsticas-grgulas9 {
  top: 13px;
  text-transform: capitalize;
  width: 187.2px;
  height: 15px;
}
.de-outubro-de39 {
  top: 53px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  width: 164.8px;
}
.fantsticas-grgulas-parent {
  text-decoration: none;
  position: absolute;
  top: 68px;
  left: 1px;
  width: 345px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.title-section-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.16deg,
    #443128 6.25%,
    #bfb2a1 52.42%,
    #443128 95.83%
  );
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 48px;
}
.popular17 {
  position: absolute;
  top: 0;
  left: 109px;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 162px;
}
.title-section9 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 345px;
  height: 48px;
  font-size: var(--font-size-17xl);
}
.entries16,
.popular16,
.section-side-card8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 346px;
  height: 400px;
}
.entries16,
.popular16 {
  top: 9px;
  left: 33px;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}
.entries16 {
  top: 247px;
  left: 936px;
  width: 504px;
  height: 1113px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-lightgray-100);
}
.navbar-child19,
.navbar-child20 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 43px;
}
.navbar-child19 {
  background: linear-gradient(90.02deg, #bfb2a1, #787167);
}
.navbar-child20 {
  background-color: var(--color-rosybrown-100);
}
.contato23,
.faq11,
.home10,
.loja24 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: calc(50% - 640.5px);
  color: inherit;
  cursor: pointer;
}
.contato23,
.faq11,
.loja24 {
  left: calc(50% + 475.5px);
}
.contato23,
.faq11 {
  left: calc(50% + 361.5px);
}
.faq11 {
  left: calc(50% + 592.5px);
}
.navbar33,
.navbar34 {
  position: absolute;
  top: 7px;
  left: calc(50% - 680px);
  width: 1281px;
  height: 30px;
}
.navbar33 {
  top: 0px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 43px;
  font-family: var(--font-outfit);
  font-size: 18px;
}
.mask-group-icon46 {
  position: absolute;
  top: 83px;
  left: 168px;
  width: 1147px;
  height: 141px;
  object-fit: cover;
}
.navbar32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 228px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.blog-2-histrias-2 {
  position: relative;
  background-color: var(--color-dimgray-200);
  width: 100%;
  height: 1761px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-outfit);
}
