.grunge-vintage-old-paper-backg-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1802px;
  object-fit: cover;
}
.bottom-page-info-child7 {
  position: absolute;
  top: 346px;
  left: calc(50% - 720px);
  background-color: var(--color-rosybrown-100);
  width: 1440px;
  height: 35px;
}
.esculturas-em-miniatura-container9,
.esculturas-em-tamanho-container9,
.esculturas-personalizadas9,
.possvel-fazer-alteraes10,
.quais-so-as10,
.qual-o11 {
  text-decoration: none;
  position: absolute;
  top: 90px;
  left: calc(50% - 209px);
  line-height: 30px;
  color: inherit;
  display: inline-block;
  width: 227px;
  height: 19px;
  cursor: pointer;
}
.esculturas-em-miniatura-container9,
.esculturas-personalizadas9,
.possvel-fazer-alteraes10,
.quais-so-as10,
.qual-o11 {
  top: 115px;
  height: 21px;
}
.esculturas-personalizadas9,
.possvel-fazer-alteraes10,
.quais-so-as10,
.qual-o11 {
  top: 142px;
  height: 28px;
}
.possvel-fazer-alteraes10,
.quais-so-as10,
.qual-o11 {
  top: 64px;
  left: calc(50% + 18px);
  width: 260px;
  height: 21px;
}
.possvel-fazer-alteraes10,
.qual-o11 {
  top: 91px;
  width: 197px;
  height: 19px;
}
.possvel-fazer-alteraes10 {
  top: 116px;
  width: 302px;
  height: 20px;
}
.esculturas-abstratas9,
.esculturas-figurativas9 {
  position: absolute;
  left: calc(50% - 209px);
  line-height: 30px;
  display: inline-block;
  width: 227px;
}
.esculturas-figurativas9 {
  text-decoration: none;
  top: 37px;
  color: inherit;
  height: 21px;
  cursor: pointer;
}
.esculturas-abstratas9 {
  top: 64px;
  height: 23px;
}
.esculturas-abstratas9,
.quais-so-os11,
.sobre-o-site18,
.tutoriais15 {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.quais-so-os11 {
  position: absolute;
  top: 37px;
  left: calc(50% + 18px);
  line-height: 30px;
  display: inline-block;
  width: 240px;
  height: 21px;
}
.sobre-o-site18,
.tutoriais15 {
  left: calc(50% + 365px);
  width: 163px;
}
.sobre-o-site18 {
  position: absolute;
  top: 37px;
  line-height: 30px;
  display: inline-block;
  height: 23px;
}
.tutoriais15 {
  top: 94px;
  height: 24px;
}
.blog19,
.histrias-da-arte15,
.loja19,
.qa10,
.tutoriais15 {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.histrias-da-arte15 {
  text-decoration: none;
  top: 66px;
  left: calc(50% + 365px);
  color: inherit;
  width: 163px;
  height: 22px;
  cursor: pointer;
}
.blog19,
.loja19,
.qa10 {
  top: 0;
  left: calc(50% - 209px);
  width: 40px;
  height: 19px;
}
.blog19,
.qa10 {
  left: calc(50% + 18px);
  width: 38px;
}
.blog19 {
  left: calc(50% + 368px);
  width: 40px;
  height: 16px;
}
.facebook-icon-29,
.insta-icon-29 {
  position: absolute;
  top: 210px;
  left: 166px;
  width: 18px;
  height: 17.1px;
  object-fit: cover;
}
.insta-icon-29 {
  top: 243px;
  height: 18px;
}
.esculturas-design-pratico9,
.esculturasdesignpratico9,
.pinterest-esculturas-design-p9,
.redes-sociais9 {
  position: absolute;
  top: 269px;
  left: calc(50% - 553px);
  line-height: 30px;
  text-transform: capitalize;
  display: inline-block;
  width: 289px;
  height: 26px;
}
.esculturas-design-pratico9,
.esculturasdesignpratico9,
.redes-sociais9 {
  top: 177px;
  height: 21px;
}
.esculturas-design-pratico9,
.esculturasdesignpratico9 {
  top: 236px;
  left: calc(50% - 524px);
  width: 260px;
}
.esculturasdesignpratico9 {
  top: 202px;
  height: 24px;
}
.e-mail10,
.esculturasdesignpraticogmail9 {
  position: absolute;
  top: 113px;
  left: calc(50% - 554px);
  line-height: 30px;
  display: inline-block;
  width: 290px;
  height: 22px;
}
.esculturasdesignpraticogmail9 {
  top: 141px;
  height: 24px;
}
.contato18,
.endereo-rua-das9,
.sp-12345-67899,
.telefone-11-9999-99999 {
  position: absolute;
  top: 83px;
  left: calc(50% - 553px);
  line-height: 30px;
  display: inline-block;
  width: 289px;
  height: 24px;
}
.contato18,
.endereo-rua-das9,
.sp-12345-67899 {
  top: 27px;
  left: calc(50% - 554px);
  width: 290px;
  height: 22px;
}
.contato18,
.sp-12345-67899 {
  top: 55px;
  left: calc(50% - 553px);
  width: 289px;
}
.contato18 {
  top: 0;
  left: calc(50% - 554px);
  width: 61px;
  height: 25px;
}
.bottom-page-info18 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 381px;
}
.bottom-info16,
.bottom-info17 {
  position: absolute;
  top: 22px;
  left: 0;
  width: 1440px;
  height: 381px;
  overflow: hidden;
}
.bottom-info16 {
  top: 1399px;
  height: 403px;
}
.o-ado-de {
  position: absolute;
  top: 597px;
  left: 0;
  color: var(--color-gray);
  display: inline-block;
  width: 153px;
  height: 21px;
}
.contrapposto {
  color: inherit;
}
.a-esttua-est-em-p-tem-uma {
  margin: 0;
}
.a-esttua-est-container,
.esta-pea-constitui-container {
  position: absolute;
  top: 268px;
  left: 163px;
  font-size: var(--font-size-base);
  font-weight: 300;
  display: inline-block;
  width: 533px;
  height: 283px;
}
.esta-pea-constitui-container {
  top: 580px;
  left: 0;
  white-space: pre-wrap;
  width: 696px;
  height: 381px;
  font-family: var(--font-outfit);
  font-size: 16px;
}
.tullio-lombardo-e7 {
  text-transform: capitalize;
  display: inline-block;
  width: 744px;
  height: 36px;
}
.de-outubro-de28,
.por-jonathan-torres-container1,
.tullio-lombardo-e7 {
  position: absolute;
  top: 0;
  left: 0;
}
.de-outubro-de28 {
  left: 191px;
  display: inline-block;
  width: 431px;
}
.por-jonathan-torres-parent {
  position: absolute;
  top: 58px;
  left: 0;
  width: 622px;
  height: 19px;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.tullio-lombardo-e-o-significad-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 744px;
  height: 77px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray);
}
.ado-tullio-lombardo1 {
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
}
.igreja-de-santa {
  text-decoration: underline;
}
.span4 {
  font-size: var(--font-size-base);
}
.ado-tullio-lombardo-container {
  position: absolute;
  top: 117px;
  left: 0;
  display: inline-block;
  width: 744px;
  height: 137px;
  font-family: var(--font-montserrat);
}
.px-adam-met-dp335144-b-1-icon {
  position: absolute;
  top: 264px;
  left: 0;
  width: 143px;
  height: 320px;
  object-fit: cover;
}
.blog21,
.group-child1 {
  position: absolute;
  top: 80px;
  left: 155px;
  width: 744px;
  height: 1018px;
}
.group-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  height: 48px;
}
.home-blog3 {
  position: absolute;
  top: 15px;
  left: 13px;
}
.address-bar-child1,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 744px;
  height: 48px;
}
.address-bar-child1 {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 45px;
}
.address-bar3 {
  position: absolute;
  top: 21px;
  left: 155px;
  width: 744px;
  height: 48px;
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.blog20 {
  position: absolute;
  top: 235px;
  left: 0;
  width: 932px;
  height: 1164px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: inherit;
}
.ad-child1 {
  position: relative;
  background-color: var(--color-gray-300);
  width: 258px;
  height: 33px;
  z-index: 0;
}
.img-20231018-wa0031-2-icon1 {
  position: relative;
  width: 258px;
  height: 340px;
  object-fit: cover;
  z-index: 1;
}
.publicidade3 {
  margin: 0 !important;
  top: 0;
  left: 1px;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: 32px;
  flex-shrink: 0;
  z-index: 2;
}
.ad3,
.publicidade3,
.x3 {
  position: absolute;
  display: flex;
}
.x3 {
  margin: 0 !important;
  top: 0;
  left: 224px;
  color: var(--color-gray-400);
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 33px;
  flex-shrink: 0;
  z-index: 3;
}
.ad3 {
  text-decoration: none;
  top: 760px;
  left: 125px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
}
.title-child3 {
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #57443b, #bcaf9e 50.72%, #57453b);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 48px;
}
.categorias13,
.title-child3,
.title8 {
  position: absolute;
  top: 0;
}
.categorias13 {
  left: 87px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 205px;
}
.title8 {
  left: 0;
  width: 345px;
  height: 48px;
}
.histrias-da-arte16,
.sobre-o-site19 {
  text-decoration: none;
  left: 0;
  color: inherit;
  width: 322.6px;
  cursor: pointer;
}
.sobre-o-site19 {
  position: absolute;
  top: 0;
  font-weight: 600;
  display: inline-block;
}
.histrias-da-arte16 {
  top: 39px;
}
.div22,
.div23,
.div24,
.histrias-da-arte16,
.tutoriais16 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.tutoriais16 {
  text-decoration: none;
  top: 76px;
  left: 0;
  color: inherit;
  width: 322.6px;
  cursor: pointer;
}
.div22,
.div23,
.div24 {
  top: 0;
  left: 327px;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
  width: 17.6px;
}
.div23,
.div24 {
  top: 39px;
  left: 323px;
  width: 22px;
}
.div24 {
  top: 73px;
}
.entries13 {
  position: absolute;
  top: 72px;
  left: 0;
  width: 345px;
  height: 101px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.categorias12,
.section-side-categories6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 173px;
}
.categorias12 {
  top: 472px;
  left: 38px;
  font-size: var(--font-size-17xl);
}
.title-section-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.16deg,
    #443128 6.25%,
    #bfb2a1 52.42%,
    #443128 95.83%
  );
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 48px;
}
.popular13 {
  position: absolute;
  top: 0;
  left: 109px;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 162px;
}
.title-section6 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 345px;
  height: 48px;
  font-size: var(--font-size-17xl);
}
.catedral-de-chatres-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
  width: 345px;
  height: 96px;
}
.catedral-de-chartres2 {
  position: absolute;
  top: 13px;
  left: 149.1px;
  text-transform: capitalize;
  display: inline-block;
  width: 188.1px;
  height: 33px;
}
.de-outubro-de29 {
  position: absolute;
  top: 55px;
  left: 150.1px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  display: inline-block;
  width: 167.7px;
}
.mask-group-icon35 {
  position: absolute;
  top: 13px;
  left: 11.8px;
  width: 129.8px;
  height: 70px;
  object-fit: cover;
}
.catedral-de-chatres {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 1px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 96px;
  cursor: pointer;
  color: inherit;
}
.catedral-de-chatres-wrapper {
  position: absolute;
  top: 300px;
  left: 0;
  width: 346px;
  height: 96px;
  overflow: hidden;
}
.histria-das-esculturas11 {
  position: absolute;
  top: 13px;
  left: 149.1px;
  text-transform: capitalize;
  display: inline-block;
  width: 195px;
  height: 15px;
}
.de-outubro-de30 {
  position: absolute;
  top: 53px;
  left: 149px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-300);
  display: inline-block;
  width: 196px;
}
.histria-das-esculturas10 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 96px;
}
.histria-das-esculturas-wrapper1 {
  text-decoration: none;
  position: absolute;
  top: 184px;
  left: 2px;
  width: 345px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.as-fantsticas-grgulas7 {
  position: absolute;
  top: 13px;
  left: 149.1px;
  text-transform: capitalize;
  display: inline-block;
  width: 187.2px;
  height: 15px;
}
.fantsticas-grgulas-wrapper2 {
  text-decoration: none;
  position: absolute;
  top: 68px;
  left: 2px;
  width: 345px;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.entries12,
.popular12,
.section-side-card6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 347px;
  height: 396px;
}
.entries12,
.popular12 {
  top: 21px;
  left: 36px;
  font-size: var(--font-size-sm);
}
.entries12 {
  top: 235px;
  left: 932px;
  width: 508px;
  height: 1164px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.navbar-child15,
.navbar-child16 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 43px;
}
.navbar-child15 {
  background: linear-gradient(90.02deg, #bfb2a1, #787167);
}
.navbar-child16 {
  background-color: var(--color-rosybrown-100);
}
.contato19,
.faq9,
.home8,
.loja20 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: calc(50% - 640.5px);
  color: inherit;
  cursor: pointer;
}
.contato19,
.faq9,
.loja20 {
  left: calc(50% + 475.5px);
}
.contato19,
.faq9 {
  left: calc(50% + 361.5px);
}
.faq9 {
  left: calc(50% + 592.5px);
}
.navbar27,
.navbar28 {
  position: absolute;
  top: 7px;
  left: calc(50% - 680px);
  width: 1281px;
  height: 30px;
}
.navbar27 {
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 43px;
}
.mask-group-icon38 {
  position: absolute;
  top: 79px;
  left: 168px;
  width: 1147px;
  height: 141px;
  object-fit: cover;
}
.navbar26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 235px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
}
.blog-4-histrias-4 {
  position: relative;
  background-color: var(--color-dimgray-200);
  width: 100%;
  height: 1802px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-outfit);
}
