.grunge-vintage-old-paper-backg-icon14 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 1440px;
  height: 4540px;
  object-fit: cover;
}
.bottom-page-info-child12 {
  position: absolute;
  top: 346px;
  left: 0;
  background-color: var(--color-rosybrown-100);
  width: 1440px;
  height: 35px;
}
.esculturas-em-miniatura-container14,
.esculturas-em-tamanho-container14,
.esculturas-personalizadas14,
.possvel-fazer-alteraes15,
.quais-so-as15,
.qual-o16 {
  text-decoration: none;
  position: absolute;
  top: 90px;
  left: calc(50% - 209px);
  line-height: 30px;
  color: inherit;
  display: inline-block;
  width: 227px;
  height: 19px;
  cursor: pointer;
}
.esculturas-em-miniatura-container14,
.esculturas-personalizadas14,
.possvel-fazer-alteraes15,
.quais-so-as15,
.qual-o16 {
  top: 115px;
  height: 21px;
}
.esculturas-personalizadas14,
.possvel-fazer-alteraes15,
.quais-so-as15,
.qual-o16 {
  top: 142px;
  height: 28px;
}
.possvel-fazer-alteraes15,
.quais-so-as15,
.qual-o16 {
  top: 64px;
  left: calc(50% + 18px);
  width: 260px;
  height: 21px;
}
.possvel-fazer-alteraes15,
.qual-o16 {
  top: 91px;
  width: 197px;
  height: 19px;
}
.possvel-fazer-alteraes15 {
  top: 116px;
  width: 302px;
  height: 20px;
}
.esculturas-abstratas14,
.esculturas-figurativas14 {
  position: absolute;
  left: calc(50% - 209px);
  line-height: 30px;
  display: inline-block;
  width: 227px;
}
.esculturas-figurativas14 {
  text-decoration: none;
  top: 37px;
  color: inherit;
  height: 21px;
  cursor: pointer;
}
.esculturas-abstratas14 {
  top: 64px;
  height: 23px;
}
.esculturas-abstratas14,
.quais-so-os16,
.sobre-o-site29,
.tutoriais25 {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.quais-so-os16 {
  position: absolute;
  top: 37px;
  left: calc(50% + 18px);
  line-height: 30px;
  display: inline-block;
  width: 240px;
  height: 21px;
}
.sobre-o-site29,
.tutoriais25 {
  left: calc(50% + 365px);
  width: 163px;
}
.sobre-o-site29 {
  position: absolute;
  top: 37px;
  line-height: 30px;
  display: inline-block;
  height: 23px;
}
.tutoriais25 {
  top: 94px;
  height: 24px;
}
.blog34,
.histrias-da-arte25,
.loja29,
.qa15,
.tutoriais25 {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.histrias-da-arte25 {
  text-decoration: none;
  top: 66px;
  left: calc(50% + 365px);
  color: inherit;
  width: 163px;
  height: 22px;
  cursor: pointer;
}
.blog34,
.loja29,
.qa15 {
  top: 0;
  left: calc(50% - 209px);
  width: 40px;
  height: 19px;
}
.blog34,
.qa15 {
  left: calc(50% + 18px);
  width: 38px;
}
.blog34 {
  left: calc(50% + 368px);
  width: 40px;
  height: 16px;
}
.facebook-icon-214,
.insta-icon-214 {
  position: absolute;
  top: 210px;
  left: 166px;
  width: 18px;
  height: 17.1px;
  object-fit: cover;
}
.insta-icon-214 {
  top: 243px;
  height: 18px;
}
.esculturas-design-pratico14,
.esculturasdesignpratico14,
.pinterest-esculturas-design-p14,
.redes-sociais14 {
  position: absolute;
  top: 269px;
  left: calc(50% - 553px);
  line-height: 30px;
  text-transform: capitalize;
  display: inline-block;
  width: 289px;
  height: 26px;
}
.esculturas-design-pratico14,
.esculturasdesignpratico14,
.redes-sociais14 {
  top: 177px;
  height: 21px;
}
.esculturas-design-pratico14,
.esculturasdesignpratico14 {
  top: 236px;
  left: calc(50% - 524px);
  width: 260px;
}
.esculturasdesignpratico14 {
  top: 202px;
  height: 24px;
}
.e-mail15,
.esculturasdesignpraticogmail14 {
  position: absolute;
  top: 113px;
  left: calc(50% - 554px);
  line-height: 30px;
  display: inline-block;
  width: 290px;
  height: 22px;
}
.esculturasdesignpraticogmail14 {
  top: 141px;
  height: 24px;
}
.contato28,
.endereo-rua-das14,
.sp-12345-678914,
.telefone-11-9999-999914 {
  position: absolute;
  top: 83px;
  left: calc(50% - 553px);
  line-height: 30px;
  display: inline-block;
  width: 289px;
  height: 24px;
}
.contato28,
.endereo-rua-das14,
.sp-12345-678914 {
  top: 27px;
  left: calc(50% - 554px);
  width: 290px;
  height: 22px;
}
.contato28,
.sp-12345-678914 {
  top: 55px;
  left: calc(50% - 553px);
  width: 289px;
}
.contato28 {
  top: 0;
  left: calc(50% - 554px);
  width: 61px;
  height: 25px;
}
.bottom-page-info28 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 381px;
}
.bottom-info26,
.bottom-info27 {
  position: absolute;
  top: 28px;
  left: 0;
  width: 1440px;
  height: 381px;
  overflow: hidden;
}
.bottom-info26 {
  top: 4135px;
  height: 409px;
  text-align: left;
}
.ou-5x-sem {
  margin: 0;
}
.marriage-angel-r-container {
  position: absolute;
  top: 201px;
  left: 27px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 107px;
  height: 50px;
}
.marriage-angel-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
  height: 35px;
}
.comprar,
.marriage-angel-child,
.marriage-angel-item {
  position: absolute;
  top: 261px;
  left: 43px;
  width: 75px;
}
.comprar {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.marriage-angel-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 36px;
}
.marriage-angel-inner {
  position: absolute;
  top: 17px;
  left: 17px;
  background: linear-gradient(180deg, #444341, #9fa39e);
  width: 127px;
  height: 154px;
}
.img-20230919-wa0004-1-icon {
  position: absolute;
  top: 19px;
  left: 17px;
  width: 127px;
  height: 152px;
  object-fit: cover;
}
.victorian-frame-removebg-previ-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 161px;
  height: 191px;
  object-fit: cover;
}
.marriage-angel {
  position: absolute;
  top: 378px;
  left: 228px;
  width: 161px;
  height: 297px;
}
.gargoyle-pedestal-pillar-container {
  position: absolute;
  top: 201px;
  left: 3px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 155px;
  height: 67px;
}
.comprar1,
.gargoyle-pillar-child {
  position: absolute;
  top: 278px;
  left: 43px;
  width: 75px;
  height: 35px;
}
.gargoyle-pillar-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar1 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text13 {
  position: absolute;
  top: 233px;
  left: 1013px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-angel-wish);
  display: inline-block;
  width: 79px;
  height: 19px;
}
.gargoyle-pillar-item {
  position: absolute;
  top: 278px;
  left: 43px;
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 75px;
  height: 35px;
}
.gargoyle-pillar-inner {
  position: absolute;
  top: 19px;
  left: 17px;
  background: linear-gradient(180deg, #90ccdc, #322b27);
  width: 126px;
  height: 152px;
}
.wurhjeqil-1-icon {
  position: absolute;
  top: 19px;
  left: 35px;
  width: 91px;
  height: 152px;
  object-fit: cover;
}
.gargoyle-pillar {
  position: absolute;
  top: 378px;
  left: 0;
  width: 1092px;
  height: 313px;
}
.praying-angel-r-container {
  position: absolute;
  top: 201px;
  left: 23px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 115px;
  height: 51px;
}
.praying-angel-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar2,
.praying-angel-child,
.praying-angel-item {
  position: absolute;
  top: 262px;
  left: 43px;
  width: 75px;
  height: 35px;
}
.comprar2 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.praying-angel-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.praying-angel-inner {
  position: absolute;
  top: 18px;
  left: 17px;
  background-color: #705e47;
  width: 125px;
  height: 153px;
}
.img-20230919-wa0008-1-icon {
  position: absolute;
  top: 18px;
  left: 41px;
  width: 79px;
  height: 153px;
  object-fit: cover;
}
.praying-angel {
  position: absolute;
  top: 0;
  left: 688px;
  width: 161px;
  height: 297px;
}
.tmulo-de-dins-container {
  position: absolute;
  top: 201px;
  left: 22px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 116px;
  height: 68px;
}
.tmulo-d-ins-de-castro-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar3,
.tmulo-d-ins-de-castro-child,
.tmulo-d-ins-de-castro-item {
  position: absolute;
  top: 279px;
  left: 43px;
  width: 75px;
  height: 35px;
}
.comprar3 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tmulo-d-ins-de-castro-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.tmulo-d-ins-de-castro-inner {
  position: absolute;
  top: 17px;
  left: 17px;
  background-color: #624e37;
  width: 126px;
  height: 153px;
}
.tmulo-de-ines-de-castro-1 {
  position: absolute;
  top: 17px;
  left: 23px;
  width: 115px;
  height: 153px;
  object-fit: cover;
}
.tmulo-d-ins-de-castro {
  position: absolute;
  top: 1px;
  left: 458px;
  width: 161px;
  height: 314px;
}
.adam-tullio-lombardo-container {
  position: absolute;
  top: 201px;
  left: 3px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 154px;
  height: 68px;
}
.adam-item,
.adam-tullio-lombardo-1 {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 125px;
}
.adam-item {
  background-color: #323232;
  height: 152px;
}
.adam-tullio-lombardo-1 {
  height: 147px;
  object-fit: cover;
}
.adam {
  position: absolute;
  top: 1px;
  left: 228px;
  width: 161px;
  height: 314px;
}
.lglise {
  text-transform: capitalize;
}
.lglise-et-la-container {
  position: absolute;
  top: 201px;
  left: 23px;
  font-family: var(--font-outfit);
  text-align: center;
  display: inline-block;
  width: 115px;
  height: 67px;
}
.lglise-et-la-synagogue-inner {
  position: absolute;
  top: 19px;
  left: 18px;
  background-color: #f5f5e9;
  width: 125px;
  height: 155px;
}
.px-statues-lglise-et-la-s-icon {
  position: absolute;
  top: 19px;
  left: 27px;
  width: 107px;
  height: 151px;
  object-fit: cover;
}
.lglise-et-la-synagogue {
  position: absolute;
  top: 1px;
  left: 0;
  width: 161px;
  height: 314px;
}
.esculturas-em-tamanho-real {
  position: absolute;
  top: 2652px;
  left: 167px;
  width: 1092px;
  height: 691px;
}
.tab-4-tamanho-real-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 380px;
  height: 65px;
}
.esculturas-em-tamanho15 {
  position: absolute;
  top: 0;
  left: calc(50% - 130.5px);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 281px;
  height: 65px;
}
.tab-4-tamanho-real {
  position: absolute;
  top: 2490px;
  left: 167px;
  width: 305px;
  height: 65px;
  text-align: left;
  font-family: var(--font-outfit);
  font-size: var(--font-size-5xl);
  text-wrap: nowrap;
  color: var(--color-white);
}
.asian-sabre-teeth-container {
  position: absolute;
  top: 201px;
  left: 29px;
  text-transform: capitalize;
  display: inline-block;
  width: 173px;
  height: 50px;
}
.asian-sabre-teeth-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
  height: 35px;
}
.asian-sabre-teeth-child,
.asian-sabre-teeth-item,
.comprar6 {
  position: absolute;
  font-family: var(--font-outfit);
  top: 261px;
  left: 78px;
  width: 75px;
}
.comprar6 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
}
.asian-sabre-teeth-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 35px;
}
.asian-sabre-teeth-inner {
  position: absolute;
  top: 19px;
  left: 20px;
  background-color: #e8ebf0;
  width: 190px;
  height: 154px;
}
.img-20230916-wa0030-1-icon {
  position: absolute;
  top: 24px;
  left: 43px;
  width: 145px;
  height: 145px;
  object-fit: cover;
}
.victorian-frame-removebg-previ-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 191px;
  object-fit: cover;
}
.asian-sabre-teeth {
  position: absolute;
  font-family: var(--font-outfit);
  text-align: center;
  top: 349px;
  left: 809px;
  width: 230px;
  height: 296px;
}
.seated-monks-r-container {
  position: absolute;
  top: 201px;
  left: 25px;
  text-transform: capitalize;
  font-family: var(--font-outfit);
  text-align: center;
  display: inline-block;
  width: 110px;
  height: 50px;
}
.seated-monks-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
  height: 35px;
}
.comprar7,
.seated-monks-child,
.seated-monks-item {
  position: absolute;
  top: 261px;
  left: 42px;
  width: 75px;
}
.comprar7 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
}
.seated-monks-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 35px;
}
.seated-monks-inner {
  position: absolute;
  top: 16px;
  left: 17px;
  background-color: var(--color-white);
  width: 124px;
  height: 157px;
}
.img-20230916-wa0035-1-icon {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 90px;
  height: 149px;
  object-fit: cover;
}
.seated-monks {
  position: absolute;
  top: 349px;
  left: 613px;
  width: 161px;
  height: 296px;
}
.little-faces-r-container {
  position: absolute;
  top: 201px;
  left: 56px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 120px;
  height: 50px;
}
.little-faces-inner {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #9d9aa1;
  width: 188px;
  height: 149px;
}
.img-20230916-wa0031-1-icon {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 183px;
  height: 149px;
  object-fit: cover;
}
.little-faces {
  position: absolute;
  top: 349px;
  left: 305px;
  width: 230px;
  height: 296px;
}
.nihilist-gargoyle-r-container {
  position: absolute;
  top: 201px;
  left: 61px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 108px;
  height: 51px;
}
.nihilist-gargoyle-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
  height: 35px;
}
.comprar9,
.nihilist-gargoyle-child,
.nihilist-gargoyle-item {
  position: absolute;
  top: 262px;
  left: 78px;
  width: 75px;
}
.comprar9 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.nihilist-gargoyle-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 34px;
}
.nihilist-gargoyle-inner {
  position: absolute;
  top: 17px;
  left: 15px;
  background-color: #655b59;
  width: 196px;
  height: 156px;
}
.img-20230917-wa0027-1-icon {
  position: absolute;
  top: 22px;
  left: 24px;
  width: 182px;
  height: 147px;
  object-fit: cover;
}
.nihilist-gargoyle {
  position: absolute;
  top: 349px;
  left: 0;
  width: 230px;
  height: 297px;
}
.notre-dame-guardians-container {
  position: absolute;
  top: 201px;
  left: 40px;
  text-transform: capitalize;
  text-align: center;
  font-family: var(--font-outfit);
  display: inline-block;
  width: 150px;
  height: 50px;
}
.comprar10 {
  position: absolute;
  top: 261px;
  left: 78px;
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 35px;
}
.notre-dame-guardians-inner {
  position: absolute;
  top: 20px;
  left: 18px;
  background-color: #b7aab7;
  width: 192px;
  height: 150px;
}
.notre-dame-guardians-1 {
  position: absolute;
  top: 21px;
  left: 27px;
  width: 179px;
  height: 149px;
  object-fit: cover;
}
.notre-dame-guardians {
  position: absolute;
  top: 0;
  left: 690px;
  width: 230px;
  height: 296px;
}
.saint-denis-prophets-container {
  position: absolute;
  top: 201px;
  left: 0;
  font-family: var(--font-outfit);
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  width: 160px;
  height: 69px;
}
.saint-denis-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar11,
.saint-denis-child,
.saint-denis-item {
  position: absolute;
  top: 280px;
  left: 40px;
  width: 75px;
  height: 35px;
}
.comprar11 {
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.saint-denis-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.saint-denis-inner {
  position: absolute;
  top: 17px;
  left: 17px;
  background-color: #e5ddd1;
  width: 130px;
  height: 156px;
}
.px-saint-denis-93-basilique-icon {
  position: absolute;
  top: 21px;
  left: 20px;
  width: 127px;
  height: 149px;
  object-fit: cover;
}
.victorian-frame-removebg-previ-icon11 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 161px;
  height: 191px;
  object-fit: cover;
}
.saint-denis {
  position: absolute;
  top: 0;
  left: 458px;
  width: 163px;
  height: 315px;
}
.prayer-bead-south-container {
  position: absolute;
  top: 201px;
  left: 3px;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  width: 155px;
  height: 69px;
}
.prayer-bead-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar12,
.prayer-bead-child,
.prayer-bead-item {
  position: absolute;
  top: 280px;
  left: 43px;
  width: 75px;
  height: 35px;
}
.comprar12 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prayer-bead-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.prayer-bead-inner {
  position: absolute;
  top: 17px;
  left: 14px;
  background-color: #c4c0bd;
  width: 131px;
  height: 157px;
}
.px-prayer-bead-with-the-adorat-icon {
  position: absolute;
  top: 21px;
  left: 21px;
  width: 124px;
  height: 149px;
  object-fit: cover;
}
.prayer-bead {
  position: absolute;
  font-family: var(--font-outfit);
  top: 0;
  left: 230px;
  width: 161px;
  height: 315px;
}
.reader-gargoyle-item {
  position: absolute;
  top: 262px;
  left: 42px;
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 76px;
  height: 35px;
}
.reader-gargoyle-inner {
  position: absolute;
  top: 18px;
  left: 16px;
  background-color: #b2aca8;
  width: 128px;
  height: 156px;
}
.gargoyle-statue-gothic-stone-s-icon {
  position: absolute;
  top: 21px;
  left: 21px;
  width: 119px;
  height: 149px;
  object-fit: cover;
}
.reader-gargoyle {
  position: absolute;
  font-family: var(--font-outfit);
  text-align: center;
  top: 0;
  left: 1px;
  width: 161px;
  height: 297px;
}
.esculturas-em-miniatura15 {
  position: absolute;
  top: 1735px;
  left: 165px;
  width: 1039px;
  height: 646px;
}
.esculturas-em-miniatura16 {
  position: absolute;
  top: 0;
  left: calc(50% - 130.5px);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 270px;
  height: 65px;
}
.tab-3-miniatura {
  position: absolute;
  top: 1564px;
  left: 166px;
  width: 305px;
  height: 65px;
  text-align: left;
  font-family: var(--font-outfit);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.comprar14,
.ladies-virgins-child {
  position: absolute;
  top: 279px;
  left: 75px;
  width: 75px;
  height: 35px;
}
.ladies-virgins-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar14 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-outfit);
}
.ladies-virgins-by-container {
  position: absolute;
  top: 201px;
  left: 31px;
  font-family: var(--font-outfit);
  text-align: center;
  font-size: var(--font-size-sm);
  text-transform: capitalize;
  display: inline-block;
  width: 162px;
  height: 68px;
}
.ladies-virgins-item {
  position: absolute;
  top: 279px;
  left: 75px;
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 75px;
  height: 35px;
}
.ladies-virgins-inner {
  position: absolute;
  top: 19px;
  left: 17px;
  background-color: #92a18e;
  width: 191px;
  height: 154px;
}
.abf0375df9311d3936e00902786bf4-icon {
  position: absolute;
  top: 36px;
  left: 24px;
  width: 178px;
  height: 114px;
  object-fit: cover;
}
.victorian-frame-removebg-previ-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 226px;
  height: 191px;
  object-fit: cover;
}
.ladies-virgins {
  position: absolute;
  top: 435px;
  left: 459px;
  width: 226px;
  height: 314px;
  font-size: var(--font-size-base);
}
.bispo-sentado-child,
.comprar15 {
  position: absolute;
  top: 260px;
  left: 43px;
  width: 75px;
  height: 35px;
}
.bispo-sentado-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar15 {
  display: flex;
  font-family: var(--font-outfit);
  align-items: center;
  justify-content: center;
}
.bispo-sentado-r-container {
  position: absolute;
  top: 201px;
  left: 8px;
  font-family: var(--font-outfit);
  text-align: center;
  font-size: var(--font-size-sm);
  text-transform: capitalize;
  display: inline-block;
  width: 149px;
  height: 49px;
}
.bispo-sentado-item {
  position: absolute;
  top: 260px;
  left: 43px;
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 75px;
  height: 35px;
}
.bispo-sentado-inner {
  position: absolute;
  top: 17px;
  left: 17px;
  background-color: #313540;
  width: 128px;
  height: 156px;
}
.seated-bishop-1-icon {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 121px;
  height: 154.3px;
  object-fit: cover;
}
.bispo-sentado {
  position: absolute;
  top: 435px;
  left: 230px;
  width: 161px;
  height: 295px;
  font-size: var(--font-size-base);
}
.the-death-of-container {
  position: absolute;
  top: 171px;
  left: 12px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 172px;
  height: 50px;
}
.death-of-the-virgin-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar16,
.death-of-the-virgin-child,
.death-of-the-virgin-item {
  position: absolute;
  top: 231px;
  left: 61px;
  width: 75px;
  height: 35px;
}
.comprar16 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.death-of-the-virgin-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.death-of-the-virgin-inner {
  position: absolute;
  top: 18px;
  left: 13px;
  background-color: #dad7d0;
  width: 163px;
  height: 126px;
}
.px-thumbnail-1-icon {
  position: absolute;
  top: 26px;
  left: 21px;
  width: 148px;
  height: 111px;
  object-fit: cover;
}
.victorian-frame-removebg-previ-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 191px;
  height: 161px;
  object-fit: cover;
}
.death-of-the-virgin {
  position: absolute;
  top: 435px;
  left: 0;
  width: 191px;
  height: 266px;
}
.grotesque-bite-salisbury-container {
  position: absolute;
  top: 204px;
  left: 14px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 202px;
  height: 50px;
}
.grotesque-bite-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar17,
.grotesque-bite-child,
.grotesque-bite-item {
  position: absolute;
  top: 264px;
  left: 77px;
  width: 75px;
  height: 35px;
}
.comprar17 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.grotesque-bite-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.grotesque-bite-inner {
  position: absolute;
  top: 21px;
  left: 19px;
  background-color: #c9b8a5;
  width: 193px;
  height: 152px;
}
.il-1140xn-1-icon {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 181px;
  height: 146px;
  object-fit: cover;
}
.victorian-frame-removebg-previ-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 194px;
  object-fit: cover;
}
.grotesque-bite {
  position: absolute;
  top: 14px;
  left: 765px;
  width: 230px;
  height: 299px;
}
.vatican-pieta-michelangelo-container {
  position: absolute;
  top: 204px;
  left: 37px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 156px;
  height: 68px;
}
.vatican-pieta-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar18,
.vatican-pieta-child,
.vatican-pieta-item {
  position: absolute;
  top: 282px;
  left: 74px;
  width: 75px;
  height: 35px;
}
.comprar18 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vatican-pieta-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.vatican-pieta-inner {
  position: absolute;
  top: 17px;
  left: 13px;
  background-color: #fefef6;
  width: 205px;
  height: 153px;
}
.michelangelo-vatican-1-icon {
  position: absolute;
  top: 26px;
  left: 46px;
  width: 139px;
  height: 145px;
  object-fit: cover;
}
.vatican-pieta {
  position: absolute;
  top: 14px;
  left: 460px;
  width: 230px;
  height: 317px;
}
.le-gine-du-container {
  position: absolute;
  top: 229px;
  left: 33px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 114px;
  height: 88px;
}
.lcifer-of-lige-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar19,
.lcifer-of-lige-child,
.lcifer-of-lige-item {
  position: absolute;
  top: 327px;
  left: 52px;
  width: 75px;
  height: 35px;
}
.comprar19 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.lcifer-of-lige-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.lcifer-of-lige-inner {
  position: absolute;
  top: 22px;
  left: 24px;
  background-color: var(--color-black);
  width: 131px;
  height: 180px;
}
.lucifer-liege-luc-viatour-new-icon {
  position: absolute;
  top: 26px;
  left: 45px;
  width: 84px;
  height: 173px;
  object-fit: cover;
}
.victorian-frame-2-removebg-pre-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 181px;
  height: 241px;
  object-fit: cover;
}
.lcifer-of-lige {
  position: absolute;
  top: 0;
  left: 208px;
  width: 181px;
  height: 362px;
}
.florentine-pieta-michelangelo-container {
  position: absolute;
  top: 201px;
  left: 23px;
  font-family: var(--font-outfit);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 114px;
  height: 70px;
}
.florentine-pieta-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
  height: 35px;
}
.comprar20,
.florentine-pieta-child,
.florentine-pieta-item {
  position: absolute;
  top: 281px;
  left: 43px;
  width: 75px;
}
.comprar20 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.florentine-pieta-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 34px;
}
.florentine-pieta-inner {
  position: absolute;
  top: 16px;
  left: 14px;
  background-color: #a4a6a5;
  width: 131px;
  height: 161px;
}
.px-pieta-bandini-opera-duomo-f-icon {
  position: absolute;
  top: 20px;
  left: 33px;
  width: 95px;
  height: 152px;
  object-fit: cover;
}
.florentine-pieta {
  position: absolute;
  top: 14px;
  left: 0;
  width: 161px;
  height: 316px;
}
.esculturas-figurativas15 {
  position: absolute;
  top: 732px;
  left: 165px;
  width: 995px;
  height: 749px;
}
.esculturas-figurativas16 {
  position: absolute;
  top: 0;
  left: calc(50% - 130.5px);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 243px;
  height: 65px;
}
.tab-2figurativas {
  position: absolute;
  top: 576px;
  left: 166px;
  width: 305px;
  height: 65px;
  text-align: left;
  font-family: var(--font-outfit);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.tsuchigomo-r-800000-container {
  position: absolute;
  top: 171px;
  left: 13px;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  width: 110px;
  height: 50px;
}
.tsuchigomo-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar21,
.tsuchigomo-child,
.tsuchigomo-item {
  position: absolute;
  top: 231px;
  left: 31px;
  width: 75px;
  height: 35px;
}
.comprar21 {
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tsuchigomo-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.tsuchigomo-inner {
  position: absolute;
  top: 11px;
  left: 13px;
  background-color: #1b1b1b;
  width: 110px;
  height: 140px;
}
.tsuchigomo-2-icon {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 100px;
  height: 125px;
  object-fit: cover;
}
.victorian-frame-removebg-previ-icon20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 136px;
  height: 161.3px;
  object-fit: cover;
}
.tsuchigomo {
  position: absolute;
  top: 0;
  left: 865px;
  width: 136px;
  height: 266px;
}
.jackson-pollock-1944-container {
  position: absolute;
  top: 171px;
  left: 11px;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  width: 113px;
  height: 68px;
}
.jackson-pollock-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
}
.comprar22,
.jackson-pollock-child,
.jackson-pollock-item {
  position: absolute;
  top: 249px;
  left: 32px;
  width: 75px;
  height: 35px;
}
.comprar22 {
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.jackson-pollock-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.jackson-pollock-inner {
  position: absolute;
  top: 10px;
  left: 13px;
  background-color: #6e6f67;
  width: 112px;
  height: 140px;
}
.jackson-pollock-gothic-1 {
  position: absolute;
  top: 24px;
  left: 30px;
  width: 75px;
  height: 113px;
  object-fit: cover;
}
.victorian-frame-removebg-previ-icon21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 136px;
  height: 161px;
  object-fit: cover;
}
.jackson-pollock {
  position: absolute;
  top: 0;
  left: 690px;
  width: 136px;
  height: 284px;
}
.abstract-gothic-sculpture-container {
  position: absolute;
  top: 171px;
  left: 23px;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  width: 145px;
  height: 68px;
}
.sculpture-on-stock-child {
  position: absolute;
  top: 249px;
  left: 57.1px;
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
  width: 75px;
  height: 35px;
}
.comprar23,
.sculpture-on-stock-item {
  position: absolute;
  top: 249px;
  left: 57px;
  width: 75px;
  height: 35px;
}
.comprar23 {
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sculpture-on-stock-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.sculpture-on-stock-inner {
  position: absolute;
  top: 14px;
  left: 15px;
  background-color: #e5e0d5;
  width: 161px;
  height: 131px;
}
.abstract-of-gothic-style-sculp-icon {
  position: absolute;
  top: 20px;
  left: 23px;
  width: 143.8px;
  height: 121px;
  object-fit: cover;
}
.sculpture-on-stock {
  position: absolute;
  top: 0;
  left: 460px;
  width: 191px;
  height: 284px;
}
.perseverance-r-666000-container {
  position: absolute;
  top: 171px;
  left: 35px;
  display: inline-block;
  text-align: center;
  width: 122px;
  height: 50px;
}
.perseverance-child {
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
  height: 35px;
}
.comprar24,
.perseverance-child,
.perseverance-item {
  position: absolute;
  top: 231px;
  left: 59px;
  width: 75px;
}
.comprar24 {
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.perseverance-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 34px;
}
.perseverance-inner {
  position: absolute;
  top: 15px;
  left: 16px;
  background-color: #02141c;
  width: 161px;
  height: 131px;
}
.perseverance-gothic-abstract {
  position: absolute;
  top: 20px;
  left: 36px;
  width: 122px;
  height: 122px;
  object-fit: cover;
}
.perseverance {
  position: absolute;
  top: 0;
  left: 230px;
  width: 191px;
  height: 266px;
}
.abstract-gothic-style {
  margin: 0;
  text-transform: capitalize;
}
.abstract-gothic-style-container {
  position: absolute;
  top: 171px;
  left: 39px;
  display: inline-block;
  text-align: center;
  width: 115px;
  height: 73px;
}
.style-on-wall-child {
  position: absolute;
  top: 254px;
  left: 57px;
  border-radius: var(--br-51xl);
  background-color: var(--color-darkgray-100);
  width: 75px;
  height: 35px;
}
.comprar25,
.style-on-wall-item {
  position: absolute;
  top: 254px;
  left: 57.5px;
  width: 75px;
  height: 35px;
}
.comprar25 {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.style-on-wall-item {
  border-radius: var(--br-51xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.style-on-wall-inner {
  position: absolute;
  top: 17px;
  left: 16px;
  background-color: #ada697;
  width: 160px;
  height: 130px;
}
.abstract-gothic-style-sculptur-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 151px;
  height: 121px;
  object-fit: cover;
}
.esculturas-abstratas15,
.style-on-wall {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font-outfit);
  text-wrap: balance;
  width: 191px;
  height: 289px;
}
.esculturas-abstratas15 {
  top: 205px;
  left: 165px;
  width: 1001px;
}
.esculturas-abstratas16 {
  position: absolute;
  top: 0;
  left: calc(50% - 130.5px);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 229px;
  height: 65px;
}
.tab-1-abstratas {
  position: absolute;
  top: 58px;
  left: 165px;
  width: 305px;
  height: 65px;
  text-align: left;
  font-family: var(--font-outfit);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.produtos {
  position: absolute;
  top: 723px;
  left: 0;
  width: 1440px;
  height: 3412px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.hero-icon {
  position: absolute;
  top: 59px;
  left: 165px;
  width: 1115px;
  height: 199px;
  object-fit: cover;
}
.loja30 {
  position: absolute;
  top: 0px;
  left: calc(50% - 50px);
  font-family: var(--font-outfit);
  text-decoration: underline;
  display: inline-block;
  width: 103px;
  height: 44px;
}
.gothic-gate-2-removebg-preview-icon {
  mix-blend-mode: multiply;
  position: absolute;
  top: 32px;
  left: calc(50% - 210.5px);
  width: 416px;
  height: 267px;
  object-fit: cover;
}
.img-20230916-wa0023-removebg-p-icon2 {
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: calc(50% + 149.5px);
  width: 118px;
  height: 129px;
  object-fit: cover;
}
.img-20230916-wa0023-removebg-p-icon3 {
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 129px;
  object-fit: cover;
}
.loja-icon {
  position: absolute;
  top: 336px;
  left: calc(50% - 268px);
  width: 535px;
  height: 299px;
}
.navbar-child25,
.title11 {
  position: absolute;
  width: 1440px;
}
.title11 {
  top: 33px;
  left: 0;
  height: 690px;
  overflow: hidden;
  font-size: var(--font-size-29xl);
}
.navbar-child25 {
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--color-rosybrown-100);
  height: 43px;
}
.blog35,
.contato29,
.faq14,
.home13 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: calc(50% - 640.5px);
  color: inherit;
  cursor: pointer;
}
.blog35,
.contato29,
.faq14 {
  left: calc(50% + 475.5px);
}
.contato29,
.faq14 {
  left: calc(50% + 364.5px);
}
.faq14 {
  left: calc(50% + 592.5px);
}
.navbar43 {
  position: absolute;
  top: 9px;
  left: calc(50% - 680px);
  font-family: var(--font-outfit);
  font-size: 18px;
  width: 1281px;
  height: 30px;
}
.navbar41,
.navbar42 {
  position: absolute;
  top: 0;
  width: 1440px;
  height: 43px;
}
.navbar42 {
  left: calc(50% - 720px);
}
.navbar41 {
  left: 0;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.pgina-de-produtos-2 {
  text-decoration: none;
  position: relative;
  background-color: var(--color-dimgray-200);
  width: 100%;
  height: 4544px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-outfit);
}
